[2014-05-05 22:17] command-tab opened #1 "Doesn't work when RequireJS is used"
In one of my single-page apps, I'm using [RequireJS](http://requirejs.org) to load dependencies in advance of their usage. I noticed that ng-inspector opens, but doesn't show any content when this setup is used.

I put together a most minimal example:
demo: http://static.command-tab.com/temp/rjs/index.html
code: https://github.com/commandtab/requirejs-ng-inspector

Glancing at the ng-inspector cod

[2014-05-06 11:20] #1 closed, assigned to nobody

[2014-05-06 11:22] rev087 opened #2 "Ignores inline script manual bootstrapping"
The extension ignores modules bootstrapped via `angular.bootstrap` in an inline `<script>`.

[2014-05-19 13:47] rev087 opened #4 "Resizing in Chrome"
Resizing is broken in the Chrome release for v0.4.0

[2014-05-20 19:38] #4 closed, assigned to nobody

[2014-05-21 04:57] RichardMango opened #5 "Chrome install doesn't work in latest version"
I get a message telling me that it can't be installed from your site, that you should put it in the Chrome Web Store, with all sorts of reasons why.  Would you consider doing this?

[2014-05-21 14:19] #5 closed, assigned to nobody

[2014-05-21 17:26] zfarrell opened #6 "A couple observations"
Hey @rev087 - first off, great work. I just added the chrome extension, and i'm really impressed  with what you've done so far.

A couple immediate observations after using it for 5 minutes:
1. The 'side panel' is positioned directly on top of my right-most content. I would expect that it acts similar to the developer tools, where it sits past the content rather than on top. Is there a reason you

[2014-05-22 12:32] laurencedorman opened #7 "Cannot read property 'invoke' of undefined ng-inspector.js:644"
I get this error which crashes my angular app when I try and use the inspector (Chrome version). Any ideas?

Uncaught TypeError: Cannot read property 'invoke' of undefined ng-inspector.js:644

[2014-05-23 00:55] rev087 opened #8 "Breaks with the file:/// protocol"
Nothing happens when the user clicks on the toolbar icon to toggle the inspector while viewing a page with the file:/// protocol.

![jhnem5h](https://cloud.githubusercontent.com/assets/141850/3062054/ef3578cc-e214-11e3-88f8-2b6da9482497.png)

[2014-05-23 02:34] #7 closed, assigned to nobody

[2014-05-23 02:42] #2 closed, assigned to nobody

[2014-05-25 00:22] darlanalves opened #10 "[ng:areq] Argument 'fn' is not a function, got undefined"
On ng-inspector.js:648

[code]

`this.factory` is not defined.

[2014-05-25 19:32] lukas-shawford opened #11 "Expand/collapse scopes"
For pages that have a lot of complex/nested models, it would be nice to be able to expand/collapse the scopes in the inspector tree.

Some would-be-nice extras:
- Ability to expand/collapse all scopes (maybe a small button or icon on the top row)
- Make the expanded/collapsed state of each scope persist across page refreshes (granted, this one would likely be next to impossible to implement, but w

[2014-05-25 19:43] lukas-shawford opened #12 "Order model items alphabetically (or by type)"
From what it looks like, model variables are currently not sorted in any manner.  They're not alphabetical, and variables are mixed with functions:

![image](https://cloud.githubusercontent.com/assets/766698/3077804/14fc0234-e444-11e3-9ec8-be3089e68e46.png)

This makes things difficult to find, especially if you have a lot of things going on in your model.  These should be sorted in some manner.

[2014-05-25 19:55] lukas-shawford opened #13 "Ability to edit scope values"
It would be really cool if ng-inspector supported modifying scope values, and then have it $apply() those changes as necessary.  A prerequisite for this would be to _show_ all values (not just scalars) in the inspector sidebar, instead of dumping them to the console.

[2014-05-25 20:04] ToucheSir opened #14 "Firefox Support?"
[Batarang](https://github.com/angular/angularjs-batarang/pull/106) has been ported to Firefox devtools, but it appears that the project has stagnated since. Any chance ng-inspector will recieve some Firefox love?

[2014-05-27 08:10] wulymammoth opened #15 "Blank tab"
I've rebooted my Mac and restarted Chrome several times. I'm on Chrome Version 35.0.1916.114. All I keep getting when I hit the extension's button is a blank pane:
![screen shot 2014-05-27 at 1 07 17 am](https://cloud.githubusercontent.com/assets/861147/3088804/4fdc9fa2-e576-11e3-9b8d-596d2b2e7abf.png)
Any ideas, folks?

[2014-05-27 14:27] joshstrange opened #16 "Put inside of dev tools"
Is there anyway this could be added as tab in dev tools instead of it's own sidebar? I dock my dev tools to the right and so the combination of both of these would leave me little to no space to see the actual content.

[2014-05-27 20:03] #15 closed, assigned to nobody

[2014-05-27 22:55] bwest87 opened #17 "ng-inspector fails to load with unknown provider error"
I recently installed the ng-inspector chrome extension, and tried to use it on my current project. Clicking on the extension's icon brings up the pane, but the pane is just solid gray, and the following error shows up in the console.

Uncaught Error: [$injector:unpr] Unknown provider: versionProvider <- version
http://errors.angularjs.org/1.2.10/$injector/unpr?p0=versionProvider%20%3C-%20version

[2014-05-27 23:53] dtwen opened #18 "Differences between ng-inspector and angularjs-batarang"
Thanks for making this invaluable browser extension.

This isn't a bug. As they're both browser angularjs debug tools, I was wondering could you compare your ng-inspector to angularjs-batarang?  Do they have overlapping features or are they completely different?

https://github.com/angular/angularjs-batarang

Thanks.

[2014-05-28 00:40] #18 closed, assigned to nobody

[2014-05-29 21:39] beardedlinuxgeek opened #19 "Only shows one root scope"
When you use angular.bootstrap() to have multiple apps on the page, this tool only shows the first app.

In Batarang if you go to the Modals tab you can select which root you want to work with from a dropdown.

[2014-06-03 15:29] masonoise opened #20 "Clicking on models doesn't expand them"
Just installed this in Chrome 35.0.1916.114 on a Mac, OS X 10.9.3. Restarted Chrome just to make sure. In a tab with my app loaded, ng-inspector opened after a slight delay, but models are shown like `my-data: {...}` and clicking on it to expand and show the properties of the model doesn't work -- nothing happens on click.

Thanks. Let me know if you need any more info.

[2014-06-03 16:39] avacollins opened #21 "Cannot install via Chrome webstore"
Getting the following error when trying to install:

Package is invalid. Details: 'Cannot load extension with file or directory name _metadata. Filenames starting with "_" are reserved for use by the system.'.

[2014-06-03 18:29] #21 closed, assigned to nobody

[2014-06-03 18:57] SimplGy opened #22 "Panel blocks content on the right"
I know this is referenced in #6, but it's probably easier to deal with as an isolated issue.

It's sensible to do the tree vertically since it's large and vertically-oriented, but blocking content prevents me from using my app with this enabled, which is a bummer.

You could add a button to switch sides, but why cover anything? Could this work: Just pad in the body enough to give your panel some r

[2014-06-03 19:32] SimplGy opened #23 "Clicks bubble up to the body, triggering application behavior"
Clicking in ng-inspector can impact the application. Because the panel is in the DOM, clicks inside it bubble up to the document.

This can be undesirable if the application dismisses content when a click bubbles up to the top.

Common examples are dismissing modals, tooltips, dropdowns, etc when a click on the body is detected.

This means when I'm trying to look at the scope tree inside my modal

[2014-06-03 20:20] #20 closed, assigned to nobody

[2014-06-05 08:38] hsablonniere opened #25 "Filtering ?"
Hey, nice project ;-)

It would be neat to be able to filter what's displayed.

[2014-06-05 09:18] mgol opened #27 "Lack of tests"
The project doesn't have any tests. This should be changed.

See @btford's comment at https://github.com/angular/angularjs-batarang/issues/110#issuecomment-45127935.

[2014-06-06 12:18] #27 closed, assigned to nobody

[2014-06-06 12:30] bsr203 opened #28 "scope of dom element"
Is it possible to implement an easy way to find the scope associated with a dom element. I think AngularJS Batarang has it. My main intention is to navigate and see the scope values quickly of a visual element.

[2014-06-09 21:42] mradamlacey opened #29 "Breaks some Angular applications"
Example application that was broken when ng-inspector was turned on:

[Kibana](http://www.elasticsearch.org/overview/kibana/)

Loading the application with the extension caused a problem with a property not being on the `$scope` object.  Disabling this extension caused the app to work again.

Let me know if there's some other information you need to investigate.

[2014-06-10 06:52] roxeteer opened #30 "Cannot read property 'removeChild' of null"
Got this error in Chrome when switching views. I wasn't able to reproduce it, but wanted to report it anyway.

[code]

We're running AngularJS 1.2.16 and the Chrome extension was the very latest one from the Chrome Web Store.

[2014-06-13 14:08] OliverJAsh opened #31 "Max nesting depth"
After so many levels of nesting, things appear as if they are no longer being nested. In the attached screenshot you can see two elements in the console with the respective controllers. In the ngInspector, they are siblings, however you can see from the expanded DOM tree that `BodyBlockElementEditCtrl` is a child of `BlockElementCtrl`.

![image](https://cloud.githubusercontent.com/assets/921609/32

[2014-06-13 14:09] OliverJAsh opened #32 "Allow horizontal scrolling"
If the contents of the ngInspector overflow on the x axis, the inspector should be scrollable.

[2014-06-17 01:00] rev087 opened #33 "Breaks the corabbit.com app"
Console displays several errors and the [corabbit.com](https://corabbit.com) breaks and becomes completely unusable when ng-inspector is installed.

[2014-06-17 09:52] Antonio-Laguna opened #34 "Console log the result of a function"
Hi there!

First of all, great work here. I think it adds value to what we could have previously with Batarang.

That being said, I've seen that clicking on most of the stuff that has the `TreeView` will log something to the console, which is great. However, I think there could be room for improvement.

Currently functions are being logged as is and that's of little use IMHO. I think you could add

[2014-06-18 11:33] Sorcy opened #35 "Breaks Kibana"
We use Kibana http://www.elasticsearch.org/overview/kibana/ for tracking of our logs through elasticsearch. Installing the Chrome plugin of ng-inspector breaks it with "Uncaught TypeError: Cannot read property 'invoke' of undefined".

[2014-06-25 05:26] #33 closed, assigned to nobody

[2014-06-25 05:30] #35 closed, assigned to nobody

[2014-06-25 05:31] #29 closed, assigned to nobody

[2014-06-25 06:12] #11 closed, assigned to nobody

[2014-06-25 07:11] rev087 opened #36 "Styling gets overwritten at lynda.com"
[Lynda.com](http://www.lynda.com) is using AngularJS, but the styles in the ng-inspector pane get overwritten by the page CSS, so the background color is grey, icons and collapse/expand toggles are gone.

![screen shot 2014-06-25 at 4 07 31 am](https://cloud.githubusercontent.com/assets/141850/3382368/e6a97d92-fc37-11e3-9119-affffbaf7974.png)

[2014-06-27 21:48] #10 closed, assigned to nobody

[2014-07-03 01:43] dranzd opened #39 "Uncaught TypeError: Cannot read property 'restrict' of undefined, possible cause by a custom directive"
This stops the whole plugin and shows nothing in the pane.  This only happens when I use a custom directive.

Error produced on Google Chrome Version 35.0.1916.153, using AngularJS v1.2.17:
[code]

If needs more information, let me know.  I can reproduce it.

[2014-07-11 08:53] yaniviny opened #40 "Inspector pane does not open"
Hi,
When I click the icon, it doesn't open the pane at all, and doesn't seem to do anything.
I'm using Chrome version 35.0.1916.153 on Mac.
I also enabled it (only) in Incognito, to see if some other extension may interfere it, but it doesn't help.

please advise, is there a way to debug it?
thanks!

[2014-07-28 08:49] raDiesle opened #42 "Question: Indication of bubbles?"
Hi,

would be cool to add in the information, what the bubble count stands for.
I assume the number of scopes being created, or the number of watches registred?

[2014-07-29 04:06] Psykar opened #43 "Nested object circular references cause errors"
If the scope contains objects which reference themselves, the extension fails to load.
http://pastebin.com/5cWLuLz4

To reproduce:
[code]

Probably just needs a maximum depth - so fixing #31 may fix this too.

[2014-07-29 20:43] ilanbiala opened #44 "Maximum call stack size exceeded, errors, console.log happening many times from ng-inspector"
![screen shot 2014-07-29 at 4 41 56 pm](https://cloud.githubusercontent.com/assets/3695164/3741571/f30f4258-1760-11e4-940b-7b5064dda49d.png)
![screen shot 2014-07-29 at 4 42 46 pm](https://cloud.githubusercontent.com/assets/3695164/3741572/f30f7782-1760-11e4-9fd7-69595ed3b4a8.png)

[2014-07-31 18:46] #42 closed, assigned to nobody

[2014-08-02 13:55] dmitriz opened #45 "Errors with angular-google-maps"
This error occurs when I load Google Maps with the Angular directive following the basic instructions here:
http://nlaplante.github.io/angular-google-maps/#!/use

![image 2014-08-02 at 2 48 42 p m](https://cloud.githubusercontent.com/assets/2513193/3788013/19fe267a-1a4c-11e4-9b36-7052ae5d94ca.png)

[2014-08-02 20:21] santagada opened #46 "Breaks on "use strict" line 1"
You can test it on:

http://spcultura.prefeitura.sp.gov.br/busca/##(global:(enabled:(event:!t),filterEntity:event))

[2014-08-06 11:22] iki opened #47 "Doesn't load on docs.angularjs.org: Uncaught Error: [$injector:unpr]"
Page: https://docs.angularjs.org/
Console error: Uncaught Error: [$injector:unpr] http://errors.angularjs.org/1.3.0-beta.17/$injector/unpr?p0=escapeProvider%20%3C-%20escape

[2014-08-08 17:13] dylang opened #48 "Throws error if bootstraped with an angular.element(dom)"
If a developer does something like

[code]

Then the `node` is an `angular.element` and not a `dom node`. This makes this code in `ng-inspector.js` invalid:

[code]

It just needs something to get the `dom element` out of the `angular element`, such as:

[code]

The exception:
[code]

[2014-08-21 21:18] dpren opened #49 "Doesn't work with locally hosted pages (pane won't open)."
The extension works like a charm when I upload my sites to a server, but the toggle button is unresponsive when I load a page that lives on my computer. Which is a bummer since that's where I like to do my editing. Safari 7.0.6 here. No errors shown.

[2014-08-22 17:53] clabough opened #50 "Failed to read the 'selectionDirection' property from 'HTMLInputElement': The input element's type ('hidden') does not support selection."
On line 1112:

	this.modelObjs[key] = NGI.Model.instance(key, values[key], depth + 1);

I'm getting this error:

Failed to read the 'selectionDirection' property from 'HTMLInputElement': The input element's type ('hidden') does not support selection.

[2014-09-26 15:23] dlparker opened #52 "webkit filesystem reference in scope causes recursion then error"
I have the following code in a service, and a scope that has a reference to the service. If I comment out the assignment of the fileSystem reference to that.fileSystem, all is fine. Leave it in and I get recursion and then an error:

NGI.ModelMixin.ModelMixin.update ng-inspector.js:1093
NGI.Model.setValue ng-inspector.js:1323
Model ng-inspector.js:1357
NGI.Model.Model.instance ng-inspector.js:1364

[2014-10-02 15:15] zbend opened #53 "Counts in grey boxes don't update"
Sorry if this is a duplicate I did search. I noticed the counts displayed next to rolled up arrays do not update when the array is updated (set to a new array in this case). The array itself does update, if you expand the array it shows correctly (you can scroll to the bottom and get the index count and it is correct)

Anyway love this extension, great work, very helpful.

[2014-10-02 19:54] gmmeyer opened #54 "Memory leak issues"
I have a single page app with a decent number of objects in it. This particular pane, loaded fresh, had about 400 objects in it. ng-inspector nearly crashed chrome trying to load it. My app normally runs, with this many objects in it, well under 100M of memory. ng-inspector pushed it up above 700M of memory. There was no error logging to the console. I would try to tell you more, but, to be honest

[2014-10-07 12:51] vinkla opened #55 "Retina support"
Feature request: Retina support. It would be a great to have retina support. Where are the icons fetched from? Maybe I can help out making them bigger.

[2014-10-16 12:24] rodolfojnn opened #56 "Cannot work with ng-grid module"
Pages where the ng-grid (from angular-ui) module is loaded, the error shown in the image occurs:

![capturar](https://cloud.githubusercontent.com/assets/3813415/4662295/5d86febc-552f-11e4-8806-85ae66ae8779.JPG)

[2014-11-07 19:52] DrewML opened #57 "Panel is grey with no UI"
To start with, thank you so much for building this awesome extension! It's really a huge improvement over batarang.

Having said that, I'm having issues with a manually-bootstrapped app not loading any of the UI-content in the sidebar (it's just a blank grey div, with one blank nested div inside it).

Issue occurs on OSX 10.9.5, in Chrome Stable, on Angular 1.3.0.

Here is a picture of the problem

[2014-11-11 01:54] patrickkidd opened #58 "It's installed on Safari, now how do you show the panel?"
Simple question: I have the extension installed on safari, now how do I show the inspector panel?

Thanks!

[2014-11-11 10:56] #58 closed, assigned to nobody

[2014-12-14 22:00] rev087 opened #60 "Breaks Lynda.com video playback"
Account not required to reproduce, free videos also trigger the issue.

[2014-12-18 23:19] #49 closed, assigned to nobody

[2014-12-22 20:56] DrewML opened #63 ""Uncaught Error: [$injector:strictdi]" on docs.angularjs.org"
Example link: https://docs.angularjs.org/api/auto/service/$injector

Clicking the ng-inspector button (in Chrome, have not tested Safari yet) triggers the following exceptions:

[code]

I believe the issue is caused by the fact that the Angular app running on the docs page has strictDI turned on, but they have this un-annotated function in `search.js` (although I don't think it's being used anywhe

[2014-12-23 11:35] #57 closed, assigned to nobody

[2015-01-02 03:17] geddski opened #64 "doesn't work with multiple apps"
This appears to make the assumption that the page only has a single angular app running. Batarang makes the same assumption but is changing that in the next version, so that these tools will work with things like [overmind](https://github.com/geddski/overmind/issues/11).

[2015-01-02 04:25] DrewML commented on #64
Do you have an example page that shows this issue? The maintainer of the project posted a screenshot in issue #19 when a user reported the same problem (showing that it works with 2 apps), but the reporter never provided a sample to test with. I'd be happy to take a look if you have some live code to share.

[2015-01-09 11:31] litera opened #66 "Not resolving scopes, reporting <error>"
I don't know what to post except that ng-inspector gets back with an `<error>` in console. When I uncollapse it it shows these lines repeated many many times from the **ng-inspector.js** file:

My controller is written as:

[code]

As you can see I'm defining controller as a Javascript constructor witj prototype mambers. I'm using *controller as* notation in my view where I set controller variable

[2015-01-10 19:16] ilanbiala commented on #44
@rev087 is there any progress?

[2015-01-11 17:02] kadowki commented on #66
+1

All of my ng-inspector propertiesa are grayed out and dropdown is un-clickable.

Eventually, it just gives <error>.

Screenshots
![screen shot 2015-01-11 at 10 59 08 am](https://cloud.githubusercontent.com/assets/5677536/5695989/36c3b1e4-9981-11e4-9103-6a2d008953e3.png)

![screen shot 2015-01-11 at 11 00 55 am](https://cloud.githubusercontent.com/assets/5677536/5695990/3bb079d0-9981-11e4-932d-

[2015-01-11 18:50] DrewML commented on #66
Do either of you have a live example (jsfiddle or similar site preferred, but production sites are ok) that I can take a look at?

[2015-01-11 21:41] kadowki commented on #66
Drew, unfortunately I cannot share our current project with you. I can re-create the problem we are having in jsfiddle, will get on that ASAP. We're using the ngMaterial directives and we believe the issue may be connected with that.

I will say that we did resolve the inspector not allowing us to explore scope variables. We had somehow targeted the label class in CSS and it conflicted with the in

[2015-01-12 10:13] litera commented on #66
I don't have a repro example and live website where this happens uses authentication so you can't get to the very page. I'll see what I can do with an online example that would help repro this issue.

[2015-01-12 10:47] litera commented on #66
@DrewML: Here you go. I've created an extremely simple example on [Codepen](http://codepen.io/litera/debug/QwdPyb). Open console window and see observe results for yourself.

[2015-01-12 17:51] dubcanada commented on #14
I have most of it working, I just can't figure out how to do the `window.postMessage` part in Firefox.

Once I figure that out I'll submit a pull request. If anyone knows how to do that stuff in an extension or anyone has any example extensions in Firefox that use `window.postMessage` let me know.

[2015-01-13 22:53] DrewML commented on #14
@dubcanada Although I haven't written an extension for Firefox before, I believe [this will lead you in the right direction](https://developer.mozilla.org/en-US/Add-ons/SDK/Guides/Content_Scripts/using_postMessage)

It looks like there is a global `self` variable that exposes the typical postMessage method.

[2015-01-13 23:23] DrewML commented on #66
@litera Awesome, thanks for sending! I'll try to find some free time this week to take a look at it.

@kadowki There have been a few reported issues similar to the one you mentioned above (conflicting styles). I've looked into solutions for this on my own, but unfortunately nothing I have found yet has seemed realistic. The best option (imho) would be to use the shadow DOM within Chrome, but @rev0

[2015-01-14 01:48] DrewML commented on #66
@litera & @kadowki, good news -- it looks like the work @KOBA789 did in PR #59 addresses this issue (I just verified locally with @litera's [Codepen](http://codepen.io/litera/debug/QwdPyb) example).

Having said that, you should be aware that the issue was actually caused by a circular reference in your code, which you could address today if you want to keep using the version of ng-inspector you h

[2015-01-14 01:51] DrewML commented on #52
I believe this issue would be addressed by PR #59. @dlparker would you mind pulling down that branch locally and verifying?

[2015-01-20 17:02] tandyjames opened #67 "Doesn't work when angular is loaded async"
I load angular with RequireJS... it isn't loaded when the app first starts.
Therefore I have to bootstrap it manually.
You overwrite window.angular.bootstrap and save off the original... however, when you save off the original, it hasn't loaded in my code yet.
Net result.. my angular app never bootstraps when this extension is loaded.

[2015-01-20 17:14] DrewML commented on #67
@tandyjames Thanks for reporting the issue! I think we may need more info from you to determine the issue here, as I'm not convinced the specific issue is due to `angular.bootstrap` being over-written.

As you can see in `src/js/bootstrap.js`, the original bootstrap method _is_ overwritten, but a reference is kept to it, which is still called when external code invokes the bootstrap method. https:

[2015-01-20 17:33] tandyjames commented on #67
That is the exact code that I put a breakpoint on.
The problem is the top line: var _bootstrap = window.angular.bootstrap;
When this is called... requireJs hasn't loaded angular js yet. It sets _bootstrap to undefined.
Later, on this line: var ret = _bootstrap.apply(this, arguments);
I get a error saying apply is not on an undefined object.

I don't have anything to replicate... as my apps are int

[2015-01-20 17:43] tandyjames commented on #67
I found a fiddle that looks like it should work:
http://jsfiddle.net/thibaud/ZgJXv/
But ng-inspector just says this page does not include angular.
I even tried this view:
http://jsfiddle.net/thibaud/ZgJXv/embedded/result/
I assume this is because it's on an iFrame?

[2015-01-20 18:02] tandyjames commented on #67
That jsfiddle had some issues with the way they were loading angular with require (it was throwing errors)... I fixed it and updated the fiddle... but same response saying the page doesn't include angular.

http://jsfiddle.net/ZgJXv/30/

[2015-01-21 01:02] DrewML commented on #67
@tandyjames My apologies -- I misunderstood your initial report. Would you be able to supply the exact exception being thrown, along with the line-number provided in ng-inspector.js?

Additionally, the most recent jsfiddle link you provided actually does work correctly with the extension (it's a bit of a pain to see that, due to jsfiddle sandboxing everything into iframes). However, if you inspect

[2015-01-21 01:04] DrewML commented on #67
I should add that, to my understanding, ng-inspector is currently only designed to work in the "top" frame.

[2015-01-21 15:20] tandyjames commented on #67
I got it to eventually load (by finally getting the lowest frame to come up in the main window). I also couldn't reproduce the issue. Turns out, it's only specific pages... and it's only on localhost... but it does happen every time!?!?
This shows the first error, showing that angular sees that window.angular.bootstrap is already defined by the time it loads.
![image](https://cloud.githubuserconte

[2015-01-21 15:38] tandyjames commented on #67
This is really weird, but I figured it out... here's what I know:
You determine if angular is loaded with:
    if ('angular' in window) {
but angularJs determines it like this:
    if (window.angular.bootstrap) {

For some reason, one of my pages uses a module which defines an angular object... but not the full object (ie. not angular.bootstrap).
So if I run without your extension... angular doesn

[2015-01-21 16:37] tandyjames commented on #67
One more note... obviously angular.js is ensuring window.angular exists before they check for window.angular.bootstrap.
So if your case you want a combo of both methods, ie:
if (window.angular && window.angular.bootstrap) {
or this syntax if it has wider support?
if ('angular' in window && 'bootstrap' in window.angular) {

[2015-02-01 16:58] tommut commented on #56
Hitting the same error using ui-grid (version 3 of ng-grid, completely written in angular):

<div id="grid1" class="gridStyle" ui-grid="vm.gridOptions" class="grid" ui-grid-infinite-scroll ui-grid-selection ui-grid-resize-columns ></div>

I get the <error> and none of the scopes will show up.

[2015-02-05 09:52] jessebuitenhuis commented on #17
Same here. Uncaught Error: [$injector:unpr] Unknown provider: nProvider <- n
vendor.js is minified (all external + angular scripts), core.js is not minified (all my own angular files)

[2015-02-11 20:02] DrewML commented on #56
@tommut I'll try to take a look at the ui-grid issue soon. I'm *personally* more interested in resolving that issue than the ng-grid one, since they're depracating that plugin. However, if the problem fixes both, then it's a win/win.

[2015-02-13 19:00] jbeckton opened #68 "ReferenceError: Can't find variable: MutationObserver"
Just installed the ng-Inspector extension and getting this error when I enable it.

Safari 5.1 on Windows.

ReferenceError: Can't find variable: MutationObserver           ng-inspector.js:827

[2015-02-13 19:05] DrewML commented on #68
@jbeckton `ng-inspector` relies on the `MutationObserver` specification. This was not introduced into Safari until `7.1` (http://caniuse.com/#feat=mutationobserver). You'll have to upgrade to a newer version to use the extension.

[2015-02-22 18:39] vitosamson commented on #14
@dubcanada is your Firefox version up on github anywhere? I'd love to take a look and help figure that out.

[2015-02-26 20:30] myspivey commented on #16
+1 for supporting this. Great tool so far!

[2015-03-08 17:25] nareshbhatia opened #69 "Uncaught TypeError: Cannot read property '$root' of undefined"
I am getting the above error when I try to open ng-inspector for my angular app. The specific lines where this is happening are in ng-inspector.js:

    211: var $node = window.angular.element(app.node);
    212: var $rootScope = $node.data('$scope').$root;

On line 211, the `<html>` node is correctly fetched, however `$node.data('$scope')` is returning `undefined`.

The source for my application

[2015-03-08 21:34] DrewML commented on #69
Thanks for providing source! I'll try to take a crack at this one this week.

[2015-03-22 15:45] ilanbiala commented on #44
Can this be closed?

[2015-03-22 15:45] #44 closed

[2015-03-24 15:38] yangit commented on #43
Stumbled upon same issue when using Parse.com\Backbone objects with angular.
They do have circular references.

[2015-03-27 03:22] rev087 commented on #68
@jbeckton, @DrewML is correct, in a future update the extension won't rely on MutationObservers, but it will probably break at some other point in the execution :(

I'm surprised you were able to even install it!

[2015-03-27 03:24] #68 closed

[2015-03-27 03:31] rev087 commented on #55
I still have the icons in vector format (a Sketch file), there are some critical issues that need fixing but I'll get to this eventually. I'll leave the issue open until then.

[2015-03-27 06:26] vinkla commented on #55
Ahh great! I thought this was history.

[2015-03-30 18:38] DrewML commented on #69
Hey @nareshbhatia, starting to look at this a bit today. I will say that it appears that your app fails to be recognized by either ng-inspector or angular-batarang, which is quite interesting.

[2015-03-30 18:48] DrewML commented on #69
@nareshbhatia I was able to determine why your app doesn't work with any angular-related debugging tools.

In `core.config.js`, on line 22, you have the following:

[code]

According to the Angular docs:

Debugging tools need this feature to be enabled, as there is no other way to access the scope of each element in the DOM.

[2015-03-30 19:22] DrewML commented on #50
Hey @clabough -- unfortunately we're going to need more information to figure out why you're getting that error.

To start with, can you identify:

1. What version of Angular you're using
2. What browser you're using (Chrome or Safari)
3. What you are doing that triggers the error (are you opening angular inspector? Are you clicking on an item in the inspector?)

Additionally, if you have a live e

[2015-03-30 19:34] clabough commented on #50
This was some time ago and I no longer receive this error.  Perhaps an update to Angular or Chrome took care of it. I've always used Chrome with AngularJS 1.3.x

[2015-03-30 19:34] #50 closed

[2015-03-30 19:47] nareshbhatia commented on #69
@DrewML, thank you so much for pointing this out! That's what I get for copying someone else's code without understanding it. I am all set now.

[2015-03-30 19:47] #69 closed

[2015-03-30 20:40] DrewML commented on #50
Cool deal. Let us know if the issue creeps up again.

[2015-03-31 16:54] DrewML commented on #31
I don't know of a really great solution yet, but, for the sake of documentation, here is why I believe you're seeing the issue:

[code]

It looks like the CSS is only designed to support a max-depth of 30 items.

We may have to use JS in the future to support n-depth. The alternative would be to change `30` in the less loop to an insanely large number, but that would beef up the size of the extens

[2015-04-01 02:15] DrewML commented on #47
Well, the good news is, I can't replicate this issue anymore 👍

The bad news is, the same page does show #63 👎

[2015-04-01 02:20] DrewML commented on #39
@rev087 Are you interesting in warning users when this scenario is hit? I'd be happy to submit a P.R. -- would just need to know how you want the problem presented to the user.

[2015-04-01 11:05] rev087 commented on #39
@DrewML I think a console.warn() call would be a somewhat elegant solution to this, unintrusive yet informative. When things break, users naturally go to the console to look for errors, and a descriptive warning there would go a long way.

[2015-04-02 05:07] DrewML commented on #32
@OliverJAsh Not disagreeing with you. However, as a work-around, I think I should note that you can expand the inspector window. It's not immediately apparent, but the left side of the panel can be dragged to make it wider.

[2015-04-02 05:34] DrewML commented on #23
Submitted PR.

[2015-04-02 06:34] DrewML commented on #48
Now fixed in PR #61

[2015-04-02 10:40] rev087 commented on #23
Solved after merging #70.

[2015-04-02 10:40] #23 closed

[2015-04-02 15:15] DrewML opened #72 "Click item to print to console"
Copy/pasting an item reported in the comments section for the [`ng-inspector` listing in the Chrome extensions gallery](https://chrome.google.com/webstore/detail/ng-inspector-for-angularj/aadgmnobpdmgmigaicncghmmoeflnamj/reviews?hl=en):

[2015-04-03 00:16] DrewML commented on #22
This is partly solved in PR #74. It does not cover the mobile emulation use-case, or even all websites I've tested, but it does improve usability on the *majority* of tested sites.

[2015-04-03 00:21] DrewML commented on #72
I'm able to replicate the issue with the steps provided in the last paragraph of the report. Super simple plnkr for demonstration purposes: http://plnkr.co/edit/LLi4JrVx7jurTbxIXDYC?p=preview

[2015-04-03 00:29] DrewML commented on #72
I believe the issue happens in the code below. When the model for a Treeview item is created, the `click` event is being bound with the initial value being passed in upon creation.

I haven't yet dug into where in the the UI value is changed after a mutation event triggers. @rev087, if you're able to help identify the best path for a solution, I'd be happy to submit a PR.

[code]

[2015-04-03 18:00] rev087 opened #75 "Add support for AngularJS apps inside iframes"
The extension currently doesn't support inspecting Angular apps inside iframes. Users reported this issue in the context of:
- Umbraco
- SharePoint 2013

[2015-04-04 10:17] #39 closed

[2015-04-04 10:21] rev087 commented on #64
@geddski the problem you were having may be related to some other issue, ng-inspector does indeed account for and handle multiple apps in the page. I'm closing the issue for now, feel free to open a new one if you still encounter issues.

[2015-04-04 10:21] #64 closed

[2015-04-04 10:21] #19 closed

[2015-04-05 11:43] rev087 commented on #46
PR #62 looks more sensible regardless, so it's merged. I still get a cryptic error on this tho, so I'll leave the issue open until we figure it out.

[2015-04-05 11:57] rev087 commented on #48
Fixed after merging #61

[2015-04-05 11:57] #48 closed

[2015-04-05 11:57] rev087 commented on #60
Thanks for the PR!

[2015-04-05 11:57] #60 closed

[2015-04-05 13:43] rev087 commented on #66
Should have been fixed in v0.5.7 that includes @KOBA789's PR, please let me know if you're still having issues.

[2015-04-05 13:43] #66 closed

[2015-04-05 13:44] rev087 commented on #43
Fixed with @KOBA789's PR, let me know if you're still having issues.

[2015-04-05 13:44] #43 closed

[2015-04-05 13:46] rev087 commented on #52
#59 is now included in the latest release v0.5.7. I'm closing the issue as it probably solves this problem, feel free to reopen if you're still having this issue.

[2015-04-05 13:46] #52 closed

[2015-04-05 13:48] rev087 commented on #36
@Soviut I'm closing this issue as the styles are displaying correctly on Lynda.com, please feel free to reopen if you're still having issues. If you have a publicly accessible example with the issue that'd be awesome

[2015-04-05 13:48] #36 closed

[2015-04-05 13:59] rev087 commented on #63
We might be able to solve this by modifying the directive definition to add the dependency annotations before processing it in [Service.js](https://github.com/rev087/ng-inspector/blob/master/src/js/Service.js#L38)

Some messy string-based introspection to retrieve the function parameters might be necessary tho (I believe that's what [ng-annotate](https://github.com/olov/ng-annotate) does)

[2015-04-05 14:03] rev087 commented on #40
I'm closing the issue as we couldn't find a root cause for it, and many of the possibilities have been addressed in updates published since these reports. If anyone who commented in this issue are still having problems, feel free to open a new issue.

[2015-04-05 14:03] #40 closed

[2015-04-05 14:29] #30 closed

[2015-04-05 14:58] rev087 commented on #47
Related: https://github.com/allenhwkim/angularjs-google-maps/issues/63

Reproducible here: http://ngmap.github.io/

[2015-04-05 15:24] rev087 commented on #17
Related to #47

[2015-04-06 03:07] DrewML opened #78 "Fails to render on www.Gangbox.com"
Noticed this when looking through different sites tonight.

https://www.gangbox.com/

When `ng-inspector` is *not* installed, no exceptions are thrown in the console.

Once enabling `ng-inspector`, the following exception is thrown

[code]

This is the first issue I've seen with `ng-inspector` where the exception is thrown somewhere other than `ng-insector.js` or `angular.js`.

[2015-04-06 03:20] DrewML commented on #78
Looks like this is two issues:

1. The site has the Angular lib loaded on the homepage (through a concatenated bundle), but there is no Angular app on the main page. This causes the blank gray inspector window to show in the viewport, without content. We should probably throw a similar warning like we do when Angular is not included on the page.

2. Something in the `Olark Livechat Software` scrip

[2015-04-06 04:04] DrewML commented on #67
Issue can be replicated with [this plnkr](http://plnkr.co/edit/Z0G2a343AKasg6S5cavS?p=preview) (you need to open up the "rendered" iframe in a new tab, though, since the inspector can't handle iframes currently).

Should be a fairly straight-forward fix. Thanks for all the details @tandyjames!

[2015-04-07 00:48] DrewML commented on #67
@tandyjames Although I think this is a big edge-case, and honestly probably not the best practice (declaring an `angular` obj before you load the `angular` lib), I submitted a PR that will address the issue. I assume if y'all have run into this issue before, someone else likely has, too.

[2015-04-07 01:09] DrewML opened #81 "Freezes/Crashes tab on ui-grid.info"
http://ui-grid.info/

Steps to replicate:
1. Visit page
2. Trigger `ng-inspector`

This one has proven pretty difficult to debug so far, since the Chrome console crashes fairly frequently with the tab. I'm *guessing* it's a performance issue related to the amount of data the inspector probably needs to render on a page using multiple "grid" components, but that's purely speculation.

[2015-04-07 01:18] DrewML commented on #63
@rev087 Cool, I'll start exploring that.

Adding a link to a minimal plnkr here for testing purposes: http://plnkr.co/edit/AEnx0ZOCYiQDqtMHmY2O?p=preview

[2015-04-07 01:36] DrewML commented on #63
Here are the relevant  parts of `injector.js` from the Angular source, which handles extracting DI information from function params.

https://github.com/angular/angular.js/blob/master/src/auto/injector.js#L99-L107

[code]

[2015-04-07 01:52] DrewML commented on #63
It ended up being much easier than I thought it would be. Angular exposes it's mechanism for annotating functions on the $injector. PR submitted

[2015-04-07 14:20] rev087 commented on #63
Wow, that's a handy method, great find!

[2015-04-07 15:31] CamronBute opened #84 "ng-inspector opening with grey pane (Chrome 41.0.2272.118 64-bit)"
Was working for several weeks, then recently it is showing only a grey pane. No errors in Chrome debug tools.

[2015-04-07 15:33] DrewML commented on #84
Hey @CamronBute, thanks for the report. Do you have a website you can share that we can replicate the issue with?

[2015-04-07 15:35] CamronBute commented on #84
@DrewML I do not. It's an internal website to my company that surfaces confidential data. Is there something else I can do? Share the solution, perhaps?

[2015-04-07 15:36] DrewML commented on #84
If you know what the solution is, or what's triggering the error, that would definitely be ideal.

Besides that, the best course of action would be to see if you can create a minimal sample application that exhibits the same behavior with `ng-inspector`, so we can get our hands on something to debug further.

[2015-04-07 15:37] CamronBute commented on #84
@DrewML Sorry, I meant the code solution :P I will work to get you something that you can test with

[2015-04-07 16:28] CamronBute commented on #84
@DrewML I have uploaded a neutered version with no data to http://ng-inspector-example.azurewebsites.net/#/ClientToAccount for you to look at

[2015-04-07 16:37] DrewML commented on #84
Perfect! Thanks so much for the example @CamronBute. I'll try to take a look as soon as I can. Is it safe to assume that the example will be up for at least a week?

[2015-04-07 16:39] DrewML commented on #84
@CamronBute I believe this issue is the same as one I experienced a couple months ago - https://github.com/rev087/ng-inspector/issues/57#issuecomment-67942951

The root cause of the issue is that you have you are bootstrapping (`ng-app`) on the same element that you are using transclusion on (`ng-view`). The solution is pretty simple: move your `ng-view` directive to the parent element (`.body-con

[2015-04-07 17:50] rev087 commented on #84
Transcluding an application root feels a bit of a gray area between expected AngularJS behavior and an accidental one - it's certainly not a common scenario as far as I'm aware. I'll take a look when I get some breathing room, but if Angular supports this, ng-inspector should as well.

[2015-04-07 17:58] DrewML commented on #84
@rev087 I'm all on board for supporting it if we can find a way to access the apps `$injector`. Having said that, I don't know of any other way to grab the `$injector` besides grabbing it off `angular.element(el)`, but that will not work when you use transclusion on the root element.

I opened a bug with the Angular team on this issue (and so did others), but they mentioned they would prefer to ha

[2015-04-07 18:14] rev087 commented on #84
Thanks for the links, they clarify the issue a lot. The ideal scenario would be to issue a warning against using transclusion in the same element as the ng-app, but detecting this would be tricky.

We could bring this issue up with the angular-hint project, as this is well within its domain.

[2015-04-07 18:44] rev087 opened #85 "Performance optimization"
ng-inspector currently runs very poorly on large apps, and this is mostly due to its naive approach to introspecting and detecting changes in the inspected Angular application.

Some profiling might be necessary to pinpoint the largest bottlenecks but it's safe to assume the biggest issue stem from the use of watchers, which the extension adds to every scope in the page.

Watchers are computationa

[2015-04-07 19:57] DrewML commented on #14
@dubcanada Any progress? I was looking to take on this issue, but I don't want to duplicate efforts if you've done most of the work.

[2015-04-07 20:00] dubcanada commented on #14
I for the most part have stopped using Firefox and AngularJS. So I haven't spent any more time on this.

The code can be pretty much copied over to Firefox easily, but the problem is you can't Send / Receive stuff as easy as you can using Chrome's extension stuff.

Feel free to start over.

[2015-04-07 20:23] CamronBute commented on #84
I have modified the code successfully. It works now. Thank you, guys!

@DrewML Do you still want the app to stay up, or am I free to tear it down?

[2015-04-07 20:23] #84 closed

[2015-04-07 21:42] rev087 commented on #84
@CamronBute now that we have zeroed in on the issue you can take it down, thanks again for taking the time to share it :)

[2015-04-08 18:07] gnrlbzik commented on #18
Thanks : )

[2015-04-08 18:24] DrewML commented on #14
Cool. Thanks for the reply @dubcanada.

[2015-04-09 10:15] iki commented on #47
confirmed, can reproduce both #63 and allenhwkim/angularjs-google-maps#63

[2015-04-09 18:36] CamronBute commented on #84
@rev087 Beautiful. Thank you!

[2015-04-10 21:48] DrewML commented on #78
@rev087 I'm looking to address the issue in "1" above (angular loaded, but no Angular app). How do you want that behavior communicated to the end-user?

I thought about doing an `alert` like we currently do when the Angular lib is not found, but I'm personally not a huge fan of `alert`s due to their blocking nature.

How do you feel about introducing a new pattern for notifications to the user? So

[2015-04-11 00:52] rev087 commented on #78
The ideal would be to show the button on the toolbar in a "disabled" state if AngularJS was not included in the page, but I'm not sure it's possible to dynamically change the toolbar button (for all browsers we want to support: Safari, Chrome and Firefox). For Chrome at least I know it's possible to dynamically add an icon inside the address bar.

I like to use the [ng-detector](https://chrome.goo

[2015-04-11 05:32] DrewML opened #86 "Supporting $compileProvider.debugInfoEnabled(false)"
This is regarding the issue reported in #69.

I was reading through the Angular docs tonight, and I noticed [this interested piece of info](https://docs.angularjs.org/guide/production):

The page should reload and the debug information should now be available.

I think it would be awesome if we supported this use-case. Debugging production applications is certainly useful, and the docs mention tha

[2015-04-11 07:43] DrewML commented on #47
This is fixed in my #87 PR. The extension now works on the linked angular docs page.

The PR also addressed the issue seen when visiting http://ngmap.github.io

[2015-04-11 08:10] DrewML commented on #75
Kicking off some brainstorming for how to accomplish this.

I don't believe this will be super easy, due to the fact that our injected `ng-inspector.js` runs in the context of the top frame, and won't be able to break cross-origin restrictions to read the DOM tree in the iframe, or to overwrite the angular bootstrapping method.

However, we can probably accomplish it using `postMessage` API. We wo

[2015-04-11 08:28] DrewML commented on #81
This is super surprising to me - http://plnkr.co/edit/yLAIMZcvBLK9kBqDOzpx?p=preview

In that plnkr, a single record in `ui-grid` causes a huge performance issue. 3+ starts making the page unusable.

I'm going to try to dig into this one soon. This doesn't seem like the typical "big app" performance problems.

[2015-04-13 07:32] nikkwong commented on #78
I'm getting a blank grey on pages where an angular app is clearly registered. Is anyone else having this problem?

[2015-04-13 07:51] DrewML commented on #78
@nikkwong, I'd recommend opening up a new issue. If you can provide a link to an example app that can be used to replicate, we can take a look.

[2015-04-13 13:10] nikkwong commented on #78
For example, https://docs.angularjs.org/tutorial, or any other sub-pages on the site, though it is working on the www.angularjs.org homepage. Personally not working on a local repo of <a href="https://github.com/angular-app/angular-app">angular app</a>. Not sure if I'm doing something wrong—so don't want to open a silly issue :-)

Thanks for the help.

[2015-04-14 03:21] DrewML commented on #78
@nikkwong The goal of having you open a separate issue was just to prevent cluttering this issue thread, so we can better identify what the specific problem you're hitting is :)

The issues on the angular docs page are addressed in PR #87, which will hopefully hit the Chrome store once @rev087 has time to review the fix.

![](http://i.imgur.com/aJ1wu7B.png)

[2015-04-14 03:42] DrewML opened #89 "Specific annotation style breaks extension"
Example site: http://simplydo.com/cryptography/#/aes

The exception being thrown is within the annotation sanity-checks I added in #82.

[code]

Prior to #82, the following exception is thrown by `ng-inspector`:

[code]

The directive causing the issue is:

[code]

The interesting thing to note is that, if I [re-make that directive in a sample app](http://plnkr.co/edit/h9y8KOcCZ3P8EjE3L4Lg?p=previ

[2015-04-14 03:43] rev087 commented on #89
Maybe be a bug in a specific version of angular that app is using?

[2015-04-14 03:45] rev087 commented on #89
It's v1.0.0rc9, `.annotate` didn't exist back then.

[2015-04-14 03:46] DrewML commented on #89
Ha, just noticed that. Good catch. On that note, do you have a specific minimum target version of Angular support you're shooting for?

[2015-04-14 03:53] rev087 commented on #89
Not really, mainly the extension must never break the underlying app regardless of the Angular version it's using but otherwise just offer the most features possible for any version.

This is the reason I tried to use as little of the Angular API as possible in the extension. For this specific issue, "ideally" we could re-implement `.annotate`, (I did something similar in [Service.js](https://gith

[2015-04-14 03:59] DrewML commented on #89
If that's the route you want to go, we can definitely do that. It was a pretty small bit of code.

It looks like they added `.annotate` in `1.0.0 rc11`.

[2015-04-14 04:09] DrewML commented on #78
His detection is pretty damn solid (no surprise). The only time I can see that it would fail would be if `debugModeEnabled` is set to `true`, but `ng-inspector` doesn't support that use-case currently, anyway.

I can give his detection methods a shot. I'll just do it in a separate branch from the UI work I'm doing for this issue.

[2015-04-14 04:40] rev087 commented on #89
Haha, so that page got cut off by 2 RCs

[2015-04-14 04:47] rev087 commented on #78
You're right, I have to admit I'm just a bit paranoid and always thought relying on classes and attributes didn't "smell right" to me - but then again, lots of things in Angular itself didn't either and I still learned to be pragmatic and look past "coding prejudices".

[2015-04-14 04:53] rev087 commented on #78
On this, the [LiveReload](https://github.com/livereload/livereload-extensions) extension actually dynamically changes their tooltip icon, so this is possible on Chrome at least (I'll test on Safari and Firefox)

[2015-04-14 04:53] DrewML commented on #78
Believe me -- I feel the same way you do about those types of checks. It's relying on checking the presentation layer for state, which doesn't feel right to me.

Having said that, I'm running on the assumption that, if 2 core team members wrote it (Igor + Brian), then it's *likely* the best means of detection.

[2015-04-14 04:57] DrewML commented on #78
Cool -- that's good to know. So, to recap, here's what I think you want to do here. Let me know if anything is wrong.

1. When Angular app is identified, change the icon (assuming support in Safari/FF) to a colored angular badge.

2. When `ng-inspector` toggle/badge is clicked, and either no app is present, or the page does not have Angular, show a *friendly* error following the example mockups in

[2015-04-14 04:58] rev087 opened #90 "Change toolbar icon to reflect Angular usage in the page"
Add a feature to dynamically update the Toolbar button for the current page, displaying an "enabled" icon if Angular is detected in the page and a "disabled" icon otherwise.

The [LiveReload extension](https://github.com/livereload/livereload-extensions) can provide an example on dynamically changing the icon.

See [this comment on issue 78](https://github.com/rev087/ng-inspector/issues/78#issueco

[2015-04-14 05:00] rev087 commented on #78
Yep, that's exactly the idea. I've opened a separate issue on the toolbar icon discussion.

[2015-04-14 05:00] rev087 commented on #78
I'm editing the artwork and exporting "enabled" and "disabled" states for the icon.

[2015-04-14 05:01] DrewML commented on #90
Dynamically changing icon in Chrome: http://stackoverflow.com/a/16924274

[2015-04-14 05:11] DrewML commented on #90
So, what are your thoughts on the `ng-detector` style of checking for Angular? You have much deeper knowledge of the extensions code, so you may know what repercussions could come from us making that change.

I will say, I'm not entirely convinced switching the method of Angular detection would even be necessary. Do you think we'd get any benefit from it? I can't think of a scenario where the lib

[2015-04-14 05:27] rev087 commented on #90
The simple detection we're doing in [bootstrap.js](https://github.com/rev087/ng-inspector/blob/master/src/js/bootstrap.js) for the presence of the angular object in the window scope would probably stay even if we add an additional check borrowed from Igor's [ng-detector](https://chrome.google.com/webstore/detail/ng-detector/fedicaemhcfcmelihceehhaodggfeffm) since we're using that object immediatel

[2015-04-14 05:28] rev087 commented on #90
I'm not against adding an additional check using his method, but I'm not sure if it would add any benefits either.

[2015-04-14 06:29] rev087 commented on #90
Added disabled states for all toolbar button icon sizes, (same filename sufixed with `-disabled`) as well as the [empty state graphic](https://github.com/rev087/ng-inspector/blob/master/ng-inspector.chrome/empty.png) to the repo.

Disabled: ![](https://raw.githubusercontent.com/rev087/ng-inspector/master/ng-inspector.chrome/btn19-disabled.png) Enabled: ![](https://raw.githubusercontent.com/rev087/

[2015-04-15 00:16] rev087 commented on #81
I was having issues with errors being thrown in older versions of angular after #82, so I switched the detection to test if the definition of the directive is an array, otherwise annotate it in 9b35153.

For UI-Grid, the extension was throwing an error and displaying the infamous gray pane, but with this change it seems to work for me, and looks very performatic with [your exemple](http://embed.pl

[2015-04-15 00:48] rev087 commented on #89
103ea50b1cbf638295554a94791fcd9bd5936469 includes an `annotate()` implementation via `NGI.Utils.annotate()`, also fixes this issue.

[2015-04-15 00:48] #89 closed

[2015-04-15 00:50] rev087 commented on #81
I'm closing the issue, but please re-open if you're still having errors and/or performance issues.

[2015-04-15 00:57] rev087 commented on #78
With the latest update, trying the extension on https://www.gangbox.com/ just produces an empty grey pane, as "expected". I'll close the issue and we can continue the discussion about handling this better in the UI at #90.

[2015-04-15 00:57] #78 closed

[2015-04-15 00:59] rev087 commented on #63
Seems to be working now, just throws the warning about malformed directive declaration.

[2015-04-15 00:59] #63 closed

[2015-04-15 01:03] rev087 commented on #56
Working at latest commit 103ea50b1cbf638295554a94791fcd9bd5936469 (tested against http://angular-ui.github.io/ng-grid/ …performance is abysmal since there's a LOT of scopes and models, but that's another issue)

[2015-04-15 01:03] #56 closed

[2015-04-15 01:04] #47 closed

[2015-04-15 01:18] DrewML commented on #78
:+1:

[2015-04-15 01:18] DrewML commented on #89
Awesome. Now we can say we almost support "all the things," as far as 1.x versions are concerned.

[2015-04-15 01:18] rev087 opened #91 "Failing empty-directive test"
[Scenario](https://github.com/rev087/ng-inspector/blob/master/test/e2e/scenarios/empty-directive.html) / [Spec](https://github.com/rev087/ng-inspector/blob/master/test/e2e/specs/empty-directive.js)

This test is currently failing in the latest commit (103ea50b1cbf638295554a94791fcd9bd5936469) but if strict-di is not set, and we're adding annotations to unannotated directives, perhaps we shouldn't

[2015-04-15 01:19] DrewML commented on #91
Good catch. I'll take a look at this one since that's a test I added.

[2015-04-15 01:35] DrewML commented on #91
It's throwing an exception right after the `try/catch`:

[code]

When the `if(!dir)` check was removed [here](https://github.com/rev087/ng-inspector/commit/103ea50b1cbf638295554a94791fcd9bd5936469#diff-c77e6a4504000173b0047fa4b8b32d90L749), it started causing the test to fail, since it's a valid use-case to get undefined back from `invoke` (apparently).

[2015-04-15 01:58] rev087 opened #92 "Find and list examples where directive/controller detection fails"
Currently the extension fails to display some user-defined controllers/directives that triggered the creation of the scopes listed in the UI.

If you find a publicly accessibly example of this behaviour, please link to it in the comments here!

[2015-04-15 02:14] DrewML commented on #91
PR submitted

[2015-04-15 02:38] rev087 commented on #91
Fixed at #93

[2015-04-15 02:38] #91 closed

[2015-04-15 03:04] rev087 opened #94 "Implement Shadow Dom for the inspector pane"
Implementing Shadow Dom might solve some possible issues and limits:

- Page CSS affecting the UI
- Make it possible to implement richer third-party libraries to handle the UI rendering and interaction (I heard AngularJS is cool)

[2015-04-15 03:18] DrewML commented on #94
For reference - Browser support:

http://caniuse.com/#feat=shadowdom

**Firefox:**
Available only if the user enables flag `dom.webcomponents.enabled`

**Safari:**
Not supported :(

**Chrome:**
Full support.

[There *is* a polyfill for `Shadow DOM`](https://github.com/WebComponents/webcomponentsjs) (I believe Polymer uses it). It works by wrapping/patching every DOM API that would "break" shadow D

[2015-04-15 09:23] davidpelayo opened #95 "ng-inspector for AngularJS makes my angular app crashes on latest Chrome version"
After upgrading my Google Chrome stable channel today, my AngularJS application (1.4.x) crashed due to have this plugin activated.
- Chrome version Version 42.0.2311.90 (64-bit).
- OS X 10.10.3.

Directives weren't wrongly evaluated when injected to the module core of Angular, throwing the following error:
``Error: [$injector:itkn] Incorrect injection token! Expected service name as string, got fu

[2015-04-15 12:32] jimbler opened #96 "Gray side panel with console errors."
ng-inspector fails to start, and shows only a gray side bar.  the errors in the console are the following:

Uncaught TypeError: fn.apply is not a function
invoke @ angular.js:3869
Service @ ng-inspector.js:738NGI.Service.Service.parse
Queue @ ng-inspector.js:841
Module @ ng-inspector.js:1058
NGI.Module.Module.register @ ng-inspector.js:1068
NGI.Module.Module.register @ ng-inspector.js:1073
App @ n

[2015-04-15 14:30] DrewML commented on #95
Hey @davidpelayo, apologies for the troubles. Do you have a link to a publicly accessible version of your app for us to attempt to replicate with?

If not, would it be possible for you to attempt to build a [plnkr](http://plnkr.co/) that we can use to replicate?

[2015-04-15 14:32] DrewML commented on #96
Hey @jimbler, sorry to hear the extension isn't working.

Do you have a publicly accessible link to the Angular app that you can share with us?

[2015-04-15 14:41] jimbler commented on #96
Hi Andrew,

At the moment I don’t have a public facing version, but I can tell you that the app was set-up using Yeoman and generator-angular.

https://github.com/yeoman/generator-angular

From the outset I was unable to use ng-inspector.

Thanks!

From: Andrew [mailto:notifications@github.com]
Sent: Wednesday, April 15, 2015 8:32 AM
To: rev087/ng-inspector
Cc: Jared Imbler
Subject: Re: [ng-inspec

[2015-04-15 15:00] DrewML commented on #96
@jimbler Thanks! I built and tested [one of the example apps built from that generator](https://github.com/addyosmani/yeoman-examples/tree/master/angular-localStorage-todos) (link to in the README of the link you sent), and was not able to replicate the issue.

![](http://i.imgur.com/a4v7Y0v.png)

Is there any other info you'd be able to provide that could help me to replicate this behavior?

[2015-04-15 15:58] jimbler commented on #96
Andrew,

Here’s a public facing version of the site I’m having issues with:
http://ncioa.cancer.gov/oa-internet/fnlcr/index.html#/home

Same gray window, console errors appear to be different though…

From: Andrew [mailto:notifications@github.com]
Sent: Wednesday, April 15, 2015 9:01 AM
To: rev087/ng-inspector
Cc: Jared Imbler
Subject: Re: [ng-inspector] Gray side panel with console errors. (#96)

[2015-04-15 16:23] DrewML commented on #96
Very interesting -- that app is working for me on the latest `ng-inspector` release (0.5.9) on Chrome Version 42.0.2311.90 (64-bit, OSX).

![screenshot](http://i.imgur.com/5855XED.png)

What version of Chrome are you using, and do you have any other extensions installed that relate to Angular?

[2015-04-15 16:54] jimbler commented on #96
Chrome: Version 42.0.2311.90 m (64-bit)
Ng-inspector: 0.5.8
I’ve disabled all other Chrome extensions and the issue continues….

Update: Updated ng-inspector to 0.5.9 and things seem to be working smoothly.  It looks like extension updates were disabled in Chrome.  Doh.

Thanks for the help

From: Andrew [mailto:notifications@github.com]
Sent: Wednesday, April 15, 2015 10:24 AM
To: rev087/ng-inspe

[2015-04-15 18:01] #96 closed

[2015-04-15 18:09] rev087 opened #97 "Tests for multiple angular releases"
Since we aim to support Angular 1.x, tests should run for all of the following:

- v1.0
- v1.1
- v1.2
- ~~v1.3~~
- v1.4

[2015-04-15 18:14] rev087 commented on #95
Additionally, what version of ng-inspector are you running?

[2015-04-15 18:18] rev087 commented on #17
This should be fixed in latest release (v0.5.9)

[2015-04-15 18:18] #17 closed

[2015-04-15 18:44] DrewML opened #98 "Upgrade Protractor to the latest stable version"
We're currently using Protractor `0.24.0`. We should upgrade to the latest stable version.

Benefits:
1. Usage of any new features they've provided
2. New contributors will have less of a learning curve (since tests now don't necessarily match online examples of using Protractor).

May be useful to do this alongside #97.

[2015-04-15 18:45] DrewML commented on #98
I'm busy until midweek next week, but if no one has submitted a PR by then I can tackle this.

[2015-04-15 18:45] DrewML commented on #97
I'm busy until midweek next week, but if no one has submitted a PR by then I can tackle this.

[2015-04-15 20:21] pherrmann commented on #95
Hey, just wanted to report I encountered the same issue straight away this morning. Looks like this extension was updated yesterday, 0.5.9. Deactivating the plugin fixes the issue.

My app isn't public. For what it's worth, it's using Angular 1.3.8 with RequireJS.

Chrome version Version 42.0.2311.90 m

[2015-04-15 20:24] rev087 commented on #95
@pherrmann could you please paste the error message you got in the console?

[2015-04-15 20:27] rev087 commented on #95
For reference: https://docs.angularjs.org/error/$injector/itkn

[2015-04-15 20:32] pherrmann commented on #95
Sure, there's many instances of the following error for different directives on a particular screen. Here's a couple...

Error: [$injector:itkn] Incorrect injection token! Expected service name as string, got function ()
http://errors.angularjs.org/1.3.8/$injector/itkn?p0=function%20()
    at REGEX_STRING_REGEXP (angular.js:63)
    at Object.invoke (angular.js:4167)
    at angular.js:6482
    at f

[2015-04-15 21:08] rev087 commented on #95
@pherrmann thanks a lot! Would it be possible for you to paste the code for one of the directives? You can remove all the controller code if it's sensitive to your client/company, and would be a great help for us to solve this bug and write a test to avoid regressions in the future.

[2015-04-16 05:21] rev087 opened #99 "Persist state through refreshes and navigation in same domain"
When refreshing the page or navigating within the same domain, the following extension state should persist, in order of difficulty:

- Open/Closed state
- Scroll state *
- Expanded/Collapsed scopes, objects and arrays **

(*) For refreshes only. Possibly use a particular scope within the viewport as reference instead of vertical scroll in pixels.

(**) This is tricky, one possible solution: on th

[2015-04-16 05:29] rev087 commented on #99
[Local Storage](https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage) is an obvious candidate for a place to store the state, but that is domain-specific and would pollute Local Storage for that domain.

A browser-extension-specific storage might be required. For reference:

- Chrome: [chrome.torage](https://developer.chrome.com/extensions/storage)
- Firefox: [simple-storage](https

[2015-04-16 05:43] rev087 opened #100 "Collapsing/Expanding doesn't work when used with Ionic Framework"
From http://forum.ionicframework.com/t/using-ng-inspector/21061

I was able to reproduce this with the mentioned "sidemenu" boilerplate project. Steps to set up a test Ionic project:

[code]

[2015-04-16 06:00] rev087 commented on #95
Another user had the problem, and tracked down the issue: http://stackoverflow.com/questions/29653779/angular-itkn-error-caused-by-directives-defined-with-function-outside-array/29666410#29666410

Working on this now.

[2015-04-16 06:23] #95 closed

[2015-04-16 07:20] rev087 opened #101 "Empty Directive test failing"
The empty directive test is failing due to there being an exception being thrown in the console, but the exception is unrelated: `'http://localhost:8000/favicon.ico 0:0 Failed to load resource: the server responded with a status of 404 (Not Found)'`

[2015-04-16 07:34] rev087 commented on #95
I rolled back on the directive factory annotation bit from `Service.js`, so strict-di with a non-annotated directive will break the extension again. In the end I couldn't reproduce this issue without removing the try…catch block around the `.invoke()` call.

I'm terribly sleepy, and still got a lot of work to do before I can hit the sack, so I'll continue to look into this later.

[2015-04-16 07:51] rev087 commented on #63
Due to the emergency fix to #95 (see [this comment](https://github.com/rev087/ng-inspector/issues/95#issuecomment-93666174)) I rolled back the fix for this issue, but I'll still leave the issue closed, and here's my rationale:

Since the time this issue was closed, we ended up wrapping the `$injector.invoke()` call in a `try…catch` block, and added a nice warning instead of throwing an exception a

[2015-04-16 08:46] rev087 opened #102 "Error: [$injector:itkn] Incorrect injection token! Expected service name as string, got function ()"
Version `v0.5.9` of ng-inspector that was released yesterday has a critical bug in the directive detection code with the potential to break AngularJS applications. This issue has been fixed in `v0.5.10`.

For the applications affected, this is what the console shows:
[code]

If you have auto-updates enabled (the default behaviour) Chrome will update the extension upon restart. You may also manuall

[2015-04-16 10:14] PavelPolyakov opened #103 "Kibana 4 doesn't work, when ng-inspector is on"
When ng-inspector is activated in my Chrome, Kibana 4 doesn't work.
Fails with the next error:

![image](https://cloud.githubusercontent.com/assets/839290/7178824/23fccc34-e432-11e4-83dc-a69b102beb8a.png)

[2015-04-16 10:24] rev087 commented on #103
There is a critical bug with ng-inspector v0.5.9 that causes this. Version v0.5.10 should fix this issue.

Could you please check the version you have installed?

[2015-04-16 11:15] PavelPolyakov commented on #103
Well, yes, I have 5.10 version.
After I've relaunched the browser the Kibana seems to work.

Thanks,

[2015-04-16 11:15] #103 closed

[2015-04-16 13:10] pherrmann commented on #95
@rev087 Looks like you discovered the issue, but here's an example directive.

define([
    'directives/directivesModule'],
function(directivesModule) {
    'use strict';

    directivesModule.directive('globalToolbar', globalToolbar);
    globalToolbar.$inject = ['$window'];

    function globalToolbar($window){
        return {
            restrict: 'AE',
            controller: controller,

[2015-04-18 19:01] dmackerman commented on #102
I was running into this and wondering why my app had suddenly broken! Thanks for the update. :+1:

[2015-04-23 01:26] DrewML commented on #101
My test was clearly *way* too generic. I'll get that cleaned up this week.

[2015-04-25 06:16] saiichihashimoto commented on #75
+1 for this.

[2015-04-27 01:43] DrewML commented on #98
Making progress in this branch: https://github.com/DrewML/ng-inspector/tree/protractorUpgrade

Most of the upgrade was pretty straight-forward, but I'm dealing with an issue right now with failing assertions in the `collapse-expand` test. Hopefully I'll have it figured out soon

[2015-04-27 03:26] DrewML commented on #98
Issues figured out. PR submitted with upgrade

[2015-04-27 03:26] DrewML commented on #101
Fixed test logic in PR #105 to be much more explicit.

[2015-04-27 03:30] DrewML commented on #97
@rev087 Once you approve PR #101 and I know it's going to master, I'll start working on this one.

[2015-04-27 04:25] DrewML commented on #81
Doesn't look like it's fixed, unfortunately :disappointed:

One thing I really dislike about plnkr: they always try to stick you within an iframe. Testing on the page you linked to is actually inspecting the plnkr app itself, not the example.

If you drill down into the iframe(http://run.plnkr.co/plunks/yLAIMZcvBLK9kBqDOzpx/), the same issue is still happening.

[2015-04-27 04:25] DrewML commented on #81
Are you able to re-open the existing issue, or should I open up a new one?

[2015-04-27 16:03] DrewML commented on #100
I believe the following code used to create event handlers internal to Ionic is causing the issue:

[code]

Ionic's click handler is likely bound before `ng-inspector`s. Because of this, our click events are being cancelled by their call to `event.stopImmediatePropagation`.

I'm not quite sure what the solution to this is going to be, yet.

[2015-04-27 16:19] DrewML commented on #100
[Extension that registers click events in the DOM, and *does* work correctly within Ionic](https://chrome.google.com/webstore/detail/ux-check/giekhiebdpmljgchjojblnekkcgpdobp).

You can see in Chrome dev tools "Event Listeners" panel in the "Elements" tab that the jQuery click event handler on the document is registered *before* the Ionic listener:

![](http://i.imgur.com/H5AliHq.png)

This is cur

[2015-04-28 00:26] DrewML commented on #100
@rev087 Here is one solution that I believe would work, but I don't know if it's necessarily the greatest idea, so I thought I'd throw it out for discussion.

1. Save a ref to `Event.prototype.stopImmediatePropagation`
2. Assign our own function to `Event.prototype.stopImmediatePropagation'
3. Our function can check the event target to see if it is within the inspector pane.
 - If in the inspector

[2015-04-29 17:52] rev087 commented on #14
Thanks to @rpl, it's finally here folks!

It's still in the review process in the Firefox Add-ons page, but you can already get it at: https://addons.mozilla.org/en-US/firefox/addon/ng-inspector-for-angularjs/

[2015-04-29 17:52] #14 closed

[2015-04-29 18:30] DrewML commented on #14
Woohoo! Thanks for the hard work @rpl.

[2015-04-29 18:34] erwinmombay commented on #14
Awesome work!

[2015-04-29 19:46] andreicristianpetcu commented on #14
Thank you! :D

[2015-04-30 00:01] altsanz commented on #75
+1 on this, too.

[2015-04-30 13:01] rev087 opened #108 "Issues barring from publication in the Mozilla Addon Gallery"

[2015-04-30 17:55] rev087 commented on #108
Fixed as of `v0.5.11`.

[2015-04-30 17:55] #108 closed

[2015-05-07 22:13] rev087 opened #109 "Manual bootstrapping from the same file that bundles angular"
Create a test with manual bootstrap done in the same file that bundles angular itself.

[2015-05-07 23:26] mirzadelic opened #110 "Question: use ng-inspector in chrome.app"
Hi,
i have chrome app, so can i use ng-inspector to debug chrome.app?

[2015-05-07 23:46] DrewML commented on #110
That's a good question :) I'm not too familiar with Chrome *apps*, but I don't believe you can use `ng-inspector` in it's current state unless a Chrome *app* allows you to install a Chrome *extension* to run within it (doesn't seem likely).

Having said that, there is a *possibility* (no guarantee) that `ng-inspector` will eventually provide a version that allows you to simply include a script to

[2015-05-07 23:49] mirzadelic commented on #110
I can use inspector in chrome app while developing, so it would be nice to have tab on chrome inspector, right to console, and page speed, so there can be used ng-inspector in chrome apps.. :)

[2015-05-07 23:52] DrewML commented on #110
#16 is a feature request for that. It's something we've continued to discuss, but the truth is there is a large amount of refactoring that would be required to accomplish that, while still meeting the cross-browser goals of this extension.

[2015-05-08 00:31] #110 closed

[2015-05-08 02:05] rev087 commented on #110
I'm not familiar with Chrome apps either, but if you have access to the console and extensions installed, and you're just missing the toolbar button to toggle ng-inspector, you can type `ngInspector.toggle()` into the console to open it.

[2015-05-08 22:53] DrewML commented on #101
@rev087 Can you close this?

[2015-05-08 22:53] DrewML commented on #98
@rev087 Can you close this issue?

[2015-05-08 22:57] DrewML commented on #67
@rev087 Can we close this issue out?

[2015-05-08 23:28] #98 closed

[2015-05-08 23:54] #67 closed

[2015-05-08 23:54] #101 closed

[2015-05-14 08:34] mirzadelic commented on #110
[code]

[2015-05-14 15:27] DrewML commented on #110
@mirzadelic If `ngInspector` isn't available globally, it's most likely that (as I suspected) Chrome apps will not run your Chrome-browser extensions within them.

[2015-05-15 19:31] nullstatement commented on #69
Can we change this to work when debugInfoEnable(true) using angular.element(document.body).injector().get('$rootScope')?
See http://stackoverflow.com/questions/24595460/how-to-access-update-rootscope-from-outside-angular

[2015-05-15 19:35] nullstatement commented on #86
We can try using using angular.element(document.body).injector().get('$rootScope') to get the rootscope when debugInfoEnabled(false).
See http://stackoverflow.com/questions/24595460/how-to-access-update-rootscope-from-outside-angular

[2015-05-18 10:43] hansott opened #112 "No general text color set"
The text color of my project is set to white. The inspector takes the text color of my project.

![schermafdruk 2015-05-18 12 39 11](https://cloud.githubusercontent.com/assets/3886384/7679208/009b698e-fd5b-11e4-8995-7b8d062688ce.png)

[2015-05-24 02:42] DrewML commented on #112
Thanks for the report, @hansott. Discussion of a possible solution is happening in #94.

[2015-05-24 02:43] DrewML commented on #109
Is this something that you already know works, and just want a test to guard against it, or are you actually looking to verify whether we handle this case?

[2015-05-24 08:21] rev087 commented on #109
I havent tested it, but it almost certainly won't work, so maybe just writing a test would be silly. I wrote this issue quickly diring the last meeting.

[2015-05-26 13:02] rev087 opened #113 "Further issues barring entrance to the Mozilla Add-ons gallery"
#1 is debatable, although we do create a script node, the contents are static and are not remote. What they consider unsafe exactly might be the bigger issue.

#2 could be solved by either the suggested method, or better yet (imo) using delegate events, which is a long overdue optimization either way.

[2015-05-26 13:06] rev087 opened #114 "Use event delegates for interaction with the panel UI"
Currently, each clickable element in the inspector UI adds it's own event listener. An optimization opportunity here is to replace this mechanic with a single delegate event on the parent node.

This would also fix the second half of #113.

[2015-05-26 14:55] DrewML commented on #113
Well, that's fun. Was this the first version you pushed a few weeks ago, or is this an update that they're rejecting?

[2015-05-26 16:31] rev087 commented on #113
It's the second attempt. Took a while for them to review this time.

Getting in the extension gallery would be nice for the automatic updates, right now in the ng-inspector.org users can only download the .xpi directly :(

[2015-05-26 16:37] DrewML commented on #113
Damn -- sounds awfully similar to submitting iOS apps for Apple's approval.

[2015-05-26 16:51] rev087 commented on #113
Yep! This exact thought popped up in my mind haha

[2015-05-29 21:02] deini commented on #75
+1

[2015-05-29 21:30] saiichihashimoto commented on #75
Another implementation could use [```chrome.runtime.sendMessage```](https://developer.chrome.com/extensions/runtime#method-sendMessage) instead of ```postMessage```. This would remove the necessity to deal with interfering messages from the webpage itself. This is a chrome extension only feature, though.

[2015-06-03 22:13] iamwillpowell commented on #112
I'm having this problem also. Adding one rule to less would solve the problem: .ngi-inspector { color: #000; }

[2015-06-05 11:25] nschloe opened #115 "ng-inspector unnecessarily present on non-angular websites"
ng-inspector only makes sense on certain pages, and this is exactly what [`pageAction`s](https://developer.chrome.com/extensions/pageAction) are for.

The same approach is used for [ng-detector](https://chrome.google.com/webstore/detail/ng-detector/fedicaemhcfcmelihceehhaodggfeffm?hl=en), a Chrome extension written by Igor Minar, one of the main Angular devs.

[2015-06-10 03:42] rev087 opened #117 "Apple Safari extension policy"
Apparently I'll need to buy into the Apple Developer Program to continue publishing ng-inspector for Safari. Which means paying $100/year, pushing the cost to $118/year including the ng-inspector.org domain name.

Unfortunately, I simply can't afford that. I'll try to set up some form of donation button on the site, but for now this means ng-inspector will no longer support Safari in OS X 10.11+ =

[2015-06-10 03:44] DrewML commented on #117
I'll pay for the first year. You've worked hard on this extension, and it's helped me a ton.

[2015-06-10 03:46] rev087 commented on #117
Thanks a lot Drew, but I have to say I'm not super comfortable accepting the offer.

[2015-06-10 03:50] DrewML commented on #117
I understand. I'm sure all the Safari users will pitch in if you set something up. Maybe Gratipay (was gittip) would work?

[2015-06-10 05:54] erwinmombay commented on #117
oh wow that sucks guys =/, will definitely donate as well.

[2015-06-11 22:26] rev087 opened #118 "Ignored scope models that stat with "$""
I originally filtered out model names because angular itself [used to?] add additional properties that start with "$" in every scope. But the implementation has the side effect of removing user-defined models that also start with "$".

Culprit: https://github.com/rev087/ng-inspector/blob/master/src/js/ModelMixin.js#L7

[2015-06-12 02:03] DrewML commented on #118
I believe (at least, according to their docs) the prefix they use on scope keys is always `$$`

[This is how Batarang is handling it](https://github.com/angular/angular-hint/blob/master/src/lib/summarize-model.js#L22).

[code]

(Note: the name of that function is pretty misleading -- it's being passed into filter to get only user-keys, so it really is more like "isUserProperty."). If it's working

[2015-06-12 13:03] victorpascual commented on #75
+1 (for apps inside Salesforce.com platform)

[2015-06-12 14:52] rev087 commented on #118
This sounds like the way to go. Hopefuly Angular won't add any new $ prefixed properties to scopes, but even in that case it should be trivial to add them to the blacklist.

[2015-06-13 00:59] DrewML commented on #118
Cool. I'll likely be submitting a PR for it this weekend.

[2015-06-13 03:14] DrewML commented on #118
PR submitted

[2015-06-13 03:19] DrewML opened #120 ""An error occurred attempting to invoke directive: X""
https://www.buzzlike.pro/#/login

Don't have time this second, but I'm leaving myself a reminder here to verify that this check if working correctly. The site above is throwing quite a few of those warnings

[2015-06-13 03:49] DrewML commented on #120
Interesting. We put that `catch` in place specifically for users who weren't returning an object from their directive function (which was throwing an exception). But in this case, every one of the directives that we are invoking are actually returning a DDO.

[2015-06-13 03:56] daluu commented on #117
Is this a recent project? Was wondering why it not submitted to Safari extensions gallery (that is the current one before the new one in the fall comes that requires the paid Apple Dev program). Just mentioned this as Chrome extension is the only one in an app store/gallery right now, at least from the links on the project page.

[2015-06-13 04:15] daluu opened #121 "Submit to Opera addons perhaps?"
Opera is based on Chrome now, so most Chrome extensions run as is on Opera. You can test and see if any tweaks need to be made, likely none.

So why not submit to help more folks out, although yes Opera is more niche than Chrome.

I will note that depending on circumstances, you may find Opera submission process is either more lenient or stricter/picker than Chrome/Google (like Mozilla/Apple). I'v

[2015-06-13 04:21] rev087 commented on #117
@daluu it's actually in their gallery: https://extensions.apple.com/details/?id=com.rev087.ng-inspector-76VT48N9LK

Their current gallery doesn't actually host the extensions or the auto-update metadata, hence we just link to the download directly in the project page. Each developer is supposed to handle both hosting the extension and the metadata, which means you need to trust the developer and r

[2015-06-13 04:25] rev087 commented on #121
I'm always down to support as many platforms as possible, but this also means more work to handle and our "core team" is just two people working on weekends. The Firefox release was only possible because of a great PR that handle pretty much every aspect besides the actual submission.

Still, it would be nice to have an Opera release, but unfortunately it's not a priority.

[2015-06-13 04:31] #118 closed

[2015-06-18 18:09] a-laughlin commented on #25
I can potentially submit a PR for chrome since I already implemented a bookmarklet that does filtering for me.  One thing that I've also found helpful is searching values, and being able to toggle hidden and/or visible items in the search.

I haven't done extension development in chrome before, and don't see html files.  Where in the code would I find the part that traverse, evaluate, and render t

[2015-06-18 18:47] rev087 commented on #25
Placement is an interesting problem: tho it's a very bad idea, all versions of Angular that I'm aware of (and ng-inspector by proxy) support multiple apps in one page. There would be multiple search/filter fields, which isn't necessarily a bad thing.

@a-laughlin there's a _very_ rough documentation on the internals of ng-inspector [here](https://github.com/rev087/ng-inspector/wiki/Documentation-f

[2015-06-21 17:42] DrewML opened #122 "How to display failed tests from multiple Angular versions"
This is in regards to #97.

I currently have a branch where we can run `ng-inspector` again *n* versions of Angular. The problem that I'm having is, I can't come up with an ideal way to visualize the test failures.

Right now, by default, the Protractor runner will just pass the test results to stdout. The problem is, you'll have that output for each version of Angular, 1 by 1, and it's going to b

[2015-06-21 18:04] DrewML commented on #120
I can't remember if we've hit this scenario before.

It looks like it's failing on us trying to invoke a directive that they're not using, but is still registered on their module (`contentPreview`).

I wonder if angular-hint warns about those...

[2015-06-21 18:33] SomeKittens commented on #122
A quick summary of each failure would be good - most of the time it's easy to see what went wrong.  I also like the idea of a more advanced HTML output.

[2015-06-29 08:25] Orvacko opened #124 "Allow to put sidebar into bottom bar"
Hi,

i want to ask if you will allow users to move sidebar to bottom because it is quite uncomfortable on right side. #16

Thx

[2015-06-29 08:27] Orvacko commented on #124
#16

[2015-06-29 21:07] kenosis-sai opened #125 "Order data ahead of functions (or allow that to be selectable.)"
Angular inspector is a huge time saver for me.  But as my application has grown, I'm spending more and more time scroll past my 100+ Javascript functions to inspect my model data, which I do A LOT.  I woukld be most convenient it model data was displayed at the top of the list of inspector elements, or that the order is selectable.  Also, being able to pin the inspector open between manual page re

[2015-07-02 11:15] illogicz commented on #40
Same issue here, clicking the ng-inspector button does nothing

[2015-07-07 06:43] mattfili commented on #45
Having a similar issue with ui.maps.  When there is an instance of maps and ng-inspector pane open at the same time the app crashes.

[2015-07-30 13:56] fr0 opened #126 "Uncaught TypeError: Cannot read property 'toLowerCase' of undefined"
This is happening at ng-inspector.js line 1072. The relevant callstack is:

nodeRep	@	ng-inspector.js:1072
App	@	ng-inspector.js:984
NGI.App.App.bootstrap	@	ng-inspector.js:1031
window.angular.bootstrap	@	ng-inspector.js:1512

[2015-08-06 13:56] esphen commented on #113
Have these issues been fixed yet? I am no longer able to use the xpi from your websites due to further restrictions to the [addon signing policy](https://support.mozilla.org/en-US/kb/add-on-signing-in-firefox?redirectlocale=en-US&as=u&redirectslug=add-ons-signing-firefox&utm_source=inproduct) :(

Firefo 41.0a2 (2015-08-06) - i.e. newest Developer Edition

![ng-inspector](https://cloud.githubuserco

[2015-08-06 23:09] DrewML commented on #113
Hey @esphen,

Thanks for the heads-up. For the time being (work-around), it looks like you have the option in the stable and nightly builds to [disable the requirement for addons to be signed](http://winaero.com/blog/disable-add-on-signing-requirement-in-mozilla-firefox/).

We're hoping to dig deeper into the Firefox issues soon (both the rejection from the gallery, as well as the new code-signing

[2015-08-07 06:10] esphen commented on #113
Okay great, and thanks for the link! Please be advised that this workaround will only work until FF 41 hits stable, which is scheduled for 2015-09-22. Godspeed you guys!

[2015-08-07 22:04] DrewML commented on #113
Let the race begin :)

As a side-note, we have recently discussed having a separate build for either a bookmarklet, or just a built JS file that you could include in a project during development to expose `ng-inspector` functionality, without worrying about browser extension restrictions (this would also allow us to support IE).

I'm pretty sure @rev087 and I are on the same page about desiring th

[2015-08-07 22:10] DrewML commented on #126
Thanks for the report! Is this happening on a public website that you're able to share the link to?

If not, could I convince you to try and make a minimum/bare-bones example app (plnkr/jsfiddle/codepen/etc) that you can replicate the issue in?

If either of these above items aren't viable, can you set a breakpoint and shoot over a screen-shot of what the current variables are in the lexical scope

[2015-08-11 05:49] DrewML opened #130 ""Controller-As" syntax has different results from older syntax"
Older Syntax:
[code]
Result:
![Imgur](http://i.imgur.com/BNZhHh8.png)
***
"Controller-As" syntax:
[code]
Result:
![Imgur](http://i.imgur.com/IFFGTIf.png)

[2015-08-17 21:12] aaronbroad commented on #45
I'm still seeing this bug using [allenhwkim/angular-google.maps](https://github.com/allenhwkim/angularjs-google-maps). Any workarounds for this?

[2015-08-20 05:56] Manveroo commented on #75
+1 as I am currently working on iframe widgets.

[2015-08-24 15:57] spdaly opened #134 "Panel is empty when opened"
I have been using ng-inspector on my NG app for a few weeks.  All of a sudden the panel opens blank.  No information.

The same thing happens on Firefox.

I'm using NG 1.4.  The app is running via gulp locally.

[2015-08-24 19:23] rev087 commented on #134
Do you see any errors on the console?

[2015-08-25 15:21] spdaly commented on #134
None. Here's a screenshot. https://www.evernote.com/l/AAOwV8UMXYxKTZK5qFyfh35-guiOZDGNSRc

I disabled/deleted all of my extensions except for ng-I. Still didn't work. I then deleted Chrome and reinstalled just ng-I.

[2015-08-26 04:56] van-nguyen opened #135 "Inspect with?"
Hi there, it's kinda hard to navigate through the massive tree of objects. Is there a way to use the context menu and "inspect with ng-inspector"?

Cheers.

[2015-09-11 05:47] SteffenLanger opened #136 "Sign Firefox Addon"
Hey @rev087!

The Firefox addon at http://ng-inspector.org/ cannot be installed on Firefox Developer Edition (FDE) since all addons have to be signed from v42 onwards (according to https://wiki.mozilla.org/Addons/Extension_Signing#Timeline). FDE currently is on v42.

Could you please submit your addon to Mozilla to have it automatically reviewed and maybe even hosted on the addon marketplace? I'd

[2015-09-12 19:45] DrewML commented on #135
Hey @van-nguyen,

Thanks for the feedback! I agree it would be a great feature, but myself and @rev087 are pretty strapped for time lately, and tend to spend the time we do have fixing known bugs with the extension.

Having said that, PRs are encouraged, and I'd love to see the feature :)

[2015-09-12 19:48] DrewML commented on #134
Well that's no fun.

@spdaly Is there any chance you can try to peel back enough pieces of your app to get to a minimum version that is reproducible? Would love to tackle the issue, but without a stack trace or an app we can reproduce with, it's going to be difficult.

[2015-09-12 19:55] DrewML commented on #136
Hey @SteffenLanger. Thanks for the report!

We'd like to get the extension back in the Firefox marketplace, but there is some work required before that can happen (see #113).

We've both been pretty busy lately, but if you'd like to tackle some of the issues, we'd love the support.

[2015-09-12 20:21] DrewML commented on #124
Hey @Orvacko, thank you for the request!

As you mentioned, this request was already logged in #16, and more explicitly in #22. I'm going to go ahead and close this issue, just to make sure we can aggregate all requests/info/suggestions about the idea to one location.

Having said that, we do have some ideas around solving this, but no immediate action has been taken quite yet, due to time constra

[2015-09-12 20:21] #124 closed

[2015-09-12 20:28] DrewML commented on #122
Found a solution where Protractor still displays the results in a friendly way, without needing a custom summary. Hooray for easy solutions.

[2015-09-12 20:28] #122 closed

[2015-09-12 20:34] DrewML commented on #115
Hey @nschloe, thank you for the suggestion!

We actually have this same request captured in #90. I'm going to go ahead and close this issue so we can aggregate all discussion about the idea to one area.

[2015-09-12 20:38] DrewML commented on #97
In master.

[2015-09-12 20:38] #97 closed

[2015-09-13 19:05] DrewML commented on #115
Hindsight: Was thinking on this late last night, and this isn't actually a duplicate - #90 is to show the icon in an enabled/disabled state -- however, your suggestion is just to not show the icon when it doesn't make sense. Re-opening, and apologies :)

[2015-09-13 19:06] DrewML commented on #90
A great suggestion was made in #115 to only show the ng-inspector icon on pages where Angular is found.

@rev087 How do you feel about that approach? I think it makes more sense, and will keep the users toolbar free from clutter on non-angular pages.

Having said that, we'll need to determine if we can support that functionality in both Safari and Firefox

[2015-09-13 19:08] DrewML commented on #117
@rev087 Did you ever get signed up for an Apple dev account?

[2015-09-13 19:44] DrewML commented on #114
Note: The second-half of #113 only requires `mouseout` and `mouseover` events to be delegated.

I totally agree we should address our over-use of event handlers in every scenario. Having said that, it'll get us back into the Firefox store quicker if we just address `mouseout` and `mouseover` for now, and open a separate issue for other events (like clicks). It looks like the `mouseout` and `mouseo

[2015-09-16 15:52] ppollono commented on #75
+1

[2015-09-17 22:17] vodun commented on #75
+1

[2015-09-22 10:13] SteffenLanger commented on #136
I opened a pull request last week at https://github.com/rev087/ng-inspector/pull/137. I know you have a lot to do currently

For other developers having the same issue: Firefox Developer Edition and Firefox Nightly both allow to install unsigned addons if configured correctly (https://wiki.mozilla.org/Addons/Extension_Signing#FAQ).

[2015-09-23 20:31] tdhsmith opened #138 "Replacing scope object with primitive does not update correctly"
[(Here's a minimal example Plunkr.)](http://run.plnkr.co/OroF50hVSZwWNop4/)

When a scope object is replaced with another object, the inspector version is replaced immediately and correctly. However, when an object is replaced with a primitive, some components still reference the old object:

- If the property drop-down is open, the only visible change is the type icon. Otherwise in all ways, the

[2015-09-24 05:05] dmvianna opened #140 "date within variable is not displayed"
It seems to me that whenever I have a JavaScript date in a scope variable, ng-inspector will display an icon for {} (object), but when I try to open it, it will remain blank. Can you confirm this bug?

[2015-09-24 20:58] DrewML opened #141 "Selenium jar not automatically installed - Regression"
It looks like when I made the updates to testing, I made the mistake of not verifying if it worked with a clean clone of the repository (*sigh* bad Andrew).

Currently, if you clone the repo and run the tests, you'll receive an error about a missing selenium jar.

Todo: Fix it :)

[2015-09-24 23:29] rev087 commented on #141
In the meantime, contributors can simply run `./node_modules/protractor/bin/webdriver-manager` manually after installing the _npm_ dependencies, which installs or updates the webdriver standalone jar.

[2015-09-26 23:42] DrewML commented on #141
PR submitted (#142)

[2015-09-27 19:15] DrewML commented on #114
Related PR submitted in #137

[2015-09-27 20:01] DrewML commented on #140
Hey @dmvianna, thanks for the report!

* plnkr to replicate: http://plnkr.co/edit/wHjyBEHjNn70eH42L5ky?p=preview

I definitely wouldn't consider this intended behavior -- just something we haven't noticed before :)

At the moment, the following code is driving this:

[code]

Since `angular.isObject` is `true` on `Date` objects, it's currently just treating `Date`'s as POJO's.

We should *probably*

[2015-09-27 20:12] DrewML commented on #138
@tdhsmith Thanks for the thorough report, and great catch!

Unfortunately Plunkr links pointing to their `run` subdomain expire shortly after they're created, so I'm adding a link to an editable Plunkr (which shouldn't expire) - http://plnkr.co/edit/Ap0GsyKgS9SqoSo71arJ?p=preview

We're currently pre-occupied with some changes we're looking into for `ng-inspector`, so I unfortunately can't say tha

[2015-09-27 22:35] rev087 commented on #140
@DrewML will do

[2015-09-28 01:37] tdhsmith commented on #138
Oh whoops! I suppose it makes sense Plunkr would leave those pages up indefinitely...

If I ever get that free time for OSS-work I've been dreaming of, I'll be happy to try to hammer this out, but at the moment it's definitely 2-3 weeks out at least.

[2015-09-28 04:21] dmvianna opened #143 "promise within variable is not displayed"
This is similar to #140. ng-inspector displays an icon for {} (object) in the right panel (Chrome 39), but when I try to open it, it will remain blank. However, if I click on the icon, it will log the promise object in the console.

I assume at least marking the object as a promise would be desirable? The current behaviour misleads the developer into thinking the object has no defined properties,

[2015-09-28 14:04] alindberg opened #144 "Uncaught TypeError: event.srcElement.className.StartsWith is not a function - links.js:40"
Error in console log reporting:

Uncaught TypeError: event.srcElement.className.StartsWith is not a function
    onDOMModified	@	links.js:40

This happens whenever a watch data structure is modified.

[2015-09-28 15:10] DrewML commented on #109
I have a theory for how we could address this. We'd basically need to change our mechanism we use for capturing angular's bootstrap method.

Instead of using mutation observers to listen for scripts being appended to the page, we could just configure `window.angular` to be a getter/setter. In that scenario, when the Angular lib loads and tries to assign to `window.angular`, our setter would catch

[2015-09-28 15:19] DrewML commented on #144
Hey @alindberg, thanks for the report!

Is `links.js` a source file within your project? It looks like that stack trace may be coming from your project.

The `className` property on an `HTMLElement`'s prototype returns a string. In this scenario, some code in your project is attempting to invoke the `StartsWith` method on that string. Unless this is a custom method you're adding to the native Stri

[2015-09-28 15:20] DrewML commented on #138
I know that feeling :)

[2015-09-28 21:48] alindberg commented on #144
It seems that links.js is part of chrome's extensions and that an extension from my company was causing the issue.
Sorry for reporting an error on your chrome extension.

Alex Lindbergalindber@yahoo.com     On Monday, September 28, 2015 10:29 AM, Andrew Levine <notifications@github.com> wrote:

 Hey @alindberg, thanks for the report!Is links.js a source file within your project? It looks like that

[2015-09-28 21:54] DrewML commented on #144
@alindberg That's no problem :) Just glad we were able to get it figured out.

[2015-09-28 21:54] #144 closed

[2015-09-29 21:01] tdhsmith commented on #138
Ok, I actually managed to make the main changes today (c41b0c84f5963), but I won't be able to test it extensively for a while. Presumably you'd like to see unit tests before PR?

[2015-09-29 22:59] rev087 commented on #143
@dmvianna thanks for the report! Are you using a particular promise library, or ES6 promises? Would it be possible to set up a simple JSFiddle/Plunkr example?

We might need to come up with a general solution for specialized objects like these, but my instinct is to simply add more supported types.

[2015-09-29 23:17] rev087 commented on #140
Promise (#143) and Date icons added to repo.

[2015-09-29 23:51] dmvianna commented on #143
@rev087, I get lost when using ng-inspector in Plunkr. I am using $q.

[2015-09-30 21:02] tdhsmith opened #145 "Route controllers not labelled"
It would be nice if the scope header for views showed the name of the controller like with other components.  Currently it shows nothing.

http://plnkr.co/edit/kpYTT5QgDmv4ZntKND2Z

And as long as this is a feature request, I'm gonna say it would be nice to be able to see the route object itself there too. :smile:

[2015-09-30 22:39] rev087 commented on #145
:+1:

[2015-10-01 19:47] tdhsmith opened #146 "Circular dependency issue? (inspectScope is not a function)"
I'm getting a `TypeError: NGI.InspectorAgent.inspectScope is not a function` in my current app, triggered at [`Scope.js` line 62](https://github.com/rev087/ng-inspector/blob/30db586c54881b3622e4002130c5bfc24f4c12d9/src/js/Scope.js#L62). After some initial digging, I think the issue might be a circular dependency here:

[code]
AFAICT, `NGI.InspectorAgent` is an empty object within `Scope.js`, which

[2015-10-01 20:14] tdhsmith commented on #143
Here's a demo using `$timeout` and `$resource`: http://plnkr.co/edit/HnhaonputTaYoV1vo8Ju?p=preview

Notice neither `resource.$promise` or `timeout.promise` can be opened, as described.

I've also noticed that unresolved resources can't be opened either (hard to show here without an artificially-slowed resource). So maybe this is more generally an issue with any object that only has `$`-prefixed k

[2015-10-02 10:22] segebee commented on #18
Sold

[2015-10-03 09:35] Shyam-Chen commented on #18
Thanks!

[2015-10-04 21:04] tedhohio commented on #95
Using Chrome 45.0.2454.101 and the latest ng-inspector.  My app simply stops, no errors.  Memory usage crepps up to the point where the Chrome error message puts and simply says "Something went wrong with displaying this webpage."  Similar error on Firefox 41.0.1.

[2015-10-06 15:13] DrewML commented on #143
@dmvianna @tdhsmith thank you guys for the info.

I'm curious - what is the use-case that y'all are exposing promises to the scope? I know this was fairly common in the older versions of Angular (<= 1.2x) since it had built-in promise unwrapping. However, I can't think of a scenario besides the unwrapping where it would make sense to expose a promise to the scope.

To be clear, not saying in any w

[2015-10-06 20:09] tdhsmith commented on #143
I personally don't have much use for bare promises, but I do frequently expose `$resource`s to the view (since they still auto-unwrap, and I think it's cleaner to interpret them as models, even if it takes a bit of magic), so the fact that an empty or unresolved resource doesn't open is certainly a minor annoyance. With complex apps, I may need to check quickly if the resource is failing at the ne

[2015-10-06 20:22] DrewML commented on #143
Sweet, thanks for the clarification @tdhsmith -- it's appreciated.

I wasn't aware of that behavior with `$resource` (been > 1yr since I've used it), but I did notice it in the plunker you provided above shortly after I left that last comment.

I think we're now talking about two different issues here.

1. Promises exposed on the scope do not provide any useful debugging info in the inspector pane

[2015-10-06 20:31] tdhsmith commented on #143
Yeah I'll do that after work tonight. And I agree the two are really only superficially related in that they are about non-display of objects that happen to both involve promises.

[2015-10-08 18:15] tdhsmith commented on #146
Ok so I've built a minimal test case:

http://run.plnkr.co/plunks/CBpoKcZUnU7hUlvkVGW1/

The issue happens whenever the list of a scope's children changes. Though [error on line 62](https://github.com/rev087/ng-inspector/blob/30db586c54881b3622e4002130c5bfc24f4c12d9/src/js/Scope.js#L62) aborts the function before the child list can be updated, so some changes won't even trigger the error. (e.g. in

[2015-10-10 19:42] DrewML commented on #146
Nooooooo, circular dependency issue!

![ohgodwhy](http://i.imgur.com/81am70b.png)

Thanks for the report @tdhsmith. I thought I had broken all the circular deps when migrating the extension to browserify, but apparently I missed one ([Madge](https://github.com/pahen/madge) confirms this).

[code]

In regards to the solution, my preference would be to decouple the modules a bit more to the point th

[2015-10-11 21:43] DrewML commented on #115
[I have a branch that addresses this functionality now](https://github.com/rev087/ng-inspector/tree/betterBootstrapping). It's coupled in with some other fixes for another bug that I still need to test more thoroughly, but we're almost there :)

I do still need to determine if there are similar ways to achieve this behavior in FF/Safari, but I don't think that should/will prevent this change from

[2015-10-11 21:45] DrewML commented on #90
The work for Firefox/Safari still needs to be done, but I now have a branch with the work done in Chrome to only show the `ng-inspector` icon/button when Angular is present on the page.

[2015-10-12 05:34] DrewML opened #147 "Extension Toggle button frequently doesn't work in FF"
Was doing some work tonight and thought I had caused the issue in my branch, but I'm able to replicate the issue on FF 41 going back to the merge of #88 when FF support was first introduced.

The majority of the time when I click the toggle, there is no exception info in the inspected windows console, or the FF add-on debugger. However, it does occasionally throw this exception.

I'm curious if an

[2015-10-12 06:04] DrewML commented on #92
I think I may have found at least part of the solution to this problem, and it wasn't my intention :P

![broken](http://i.imgur.com/37BzRox.png)

![fixed-ish](http://i.imgur.com/B81cfIZ.png)

The screen-shots above were taken on the current master, and then on my side branch where I switched the manual bootstrap capturing mechanism to use a getter/setter right on document start. Seems to be workin

[2015-10-12 06:46] DrewML commented on #146
In the interest of avoiding errors for end-users, I think we should go with a super ugly, but effective patch for the time being. I've been using the extension a bit tonight working on some other stuff and the errors are pretty frustrating.

[code]

Like you mentioned @tdhsmith, we'll just delay the require for now until `InspectorAgent` itself has finished exporting. We should just make sure to a

[2015-10-12 07:25] DrewML commented on #90
It turns out this is a pita to implement in Safari. Unlike Chrome, which has the concept of *page actions* that scope the icon to the tab itself, Safari makes you track tab navigation manually, updating the icon each time, by juggling a ton of different events they provide.

[2015-10-12 07:41] #102 closed

[2015-10-12 18:55] DrewML opened #148 "Extension fails when an "angular" global is not exposed"
In January, UMD support was added to Angular core. Without a global, `ng-inspector` isn't able to hook in and instrument the framework, which causes app inspection to fail.

Example site: http://zuigo.com/

[2015-10-12 18:56] DrewML commented on #148
Related to https://github.com/angular/batarang/issues/273

[2015-10-12 23:21] #148 closed

[2015-10-17 21:45] tdhsmith commented on #143
I kinda waited on this because I haven't been able to reproduce it lately :confused:  (though there _have_ to be some side effects with how $ properties don't trigger `watch`, don't there? or do you guys already have some magic going on?)

[2015-10-19 20:40] tdhsmith commented on #145
I should actually note, it isn't even selecting the whole `ng-view` correctly. In [the example](http://run.plnkr.co/plunks/kpYTT5QgDmv4ZntKND2Z/#/) highlighting scope 3 should highlight the entire panel (you can see that it's where the `viewName` and `message` are bound from), but instead it only selects the table.

[2015-10-29 06:28] gregbradley commented on #75
Would it work just by loading `ng-inspector.js` in every frame? https://developer.chrome.com/extensions/content_scripts#all_frames

[2015-11-19 22:36] nathan-j-brenner commented on #8
The Inspector pane will open if the app is connected with a server, which can easily be done with SimpleHTTPServer if you don't want to write up any server side code.

[2015-11-28 23:30] juanr2001 commented on #40
I can't open ng-inspector....

[2015-11-29 21:43] DrewML commented on #40
@illogicz @juanr2001 Are either of you seeing any errors in the console? Also, what browsers?

[2015-11-29 21:51] juanr2001 commented on #40
Hi,

Thank you for the message. I do not see anything, I tried to uninstall ng-inspector and re-install it. Every time I click the icon to launch Ng-Inspector nothing happens and do not see
any errors. Inside the console, there is no error either. I am using Crome in OS Yosemite.Version 10.10.5

[2015-12-02 16:51] jdynamite opened #150 "Binding high charts JS to scope from directive crashes Ng-Inspector on load"
Whenever I do the last bit where I assign the high charts object to the scope - ng-inspector will crash when opened. Any tips? Could this be a bug or am I doing something horrible?

[code]

[2015-12-08 04:16] kaungmyatlwin opened #151 "ng-inspector not working in Chrome Version 47.0.2526.73 m"
I installed the ng-inspector, clicked on the button, and nothing happened.

Please solve this issue as fast as you can.

Chrome Version 47.0.2526.73 m

EDIT: It doesn't work in Local Workspace.

[2015-12-09 08:19] #151 closed

[2015-12-09 15:43] DrewML commented on #151
It is a known issue that, if you're loading files via the `file://` protocol, the extension will not work (documented in #8). The quick solution is to run a local webserver to serve the content.

[2015-12-11 22:40] mshibl commented on #40
Hello,

I think was able to figure out a solution that worked for me.

I realized that the ng-inspector extension works only when I open the page using a local server. It doesn't work when I open the page directly from my computer.

Here's an easy way to run a local web server: ([Tech Tip: Really Simple HTTP Server with Python!](http://www.linuxjournal.com/content/tech-tip-really-simple-http-serve

[2015-12-16 03:55] philhudson91 opened #153 "ng-inspector crashes my browser on Chrome and FF"
Hi guys,

I'm unable to use ng-inspector at present - when opening it crashes my browser straight away.

When debugging (in FF) it throws me to line 1364 of data/ng-inspector.js:

	this.value = value = newValue;

To me, it looks like it's having some issue with setting values the infinite looping.

Is anyone else experiencing the same?

Thanks

[2015-12-17 03:38] philhudson91 commented on #153
Okay I think this was due to a directive conflict - two directives with the same binding... I'll mark as resolved for now. Maybe something to check/handle in the future :)

[2015-12-22 18:01] cdcooksey commented on #136
Bump.  Firefox version 43.0 just completely broke ng-inspector.

[2015-12-29 02:30] istrau2 commented on #95
I have the same issue as tedohio. No errors but if I open ng-inspector, my app crashes.

[2015-12-29 12:43] vip9 commented on #153
It also causes to hang/crash chrome tab, any fix for that?

[2015-12-29 12:44] philhudson91 commented on #153
I'm still experiencing this too

[2016-01-04 11:55] savornicesei commented on #136
I'm also looking forward for ng-inspector to be pushed to Mozilla's Marketplace.
I can also confirm that the ng-inspector is not working on FF 43.0.2 / Win server 2012 (it shows just a gray panel).

[2016-01-15 21:14] newduke opened #154 "ng-inspector causes some pages not to load"
Loading https://www.udemy.com/courses/office-productivity/ on mac, chrome 47, the page stops loading after error:
[code]

[2016-01-19 19:23] newduke commented on #154
This only seems to happen on pages with multiple angular apps.

[2016-01-22 23:57] jawache commented on #154
Hia this is causing bugs across all Udemy courses and stops students from being able to post questions and discussions.

I raised with Udemy and apparently they identified it as an issue with ng-inspector and raised with you directly?

Unfortunately i've had to recommend to students not to install ng-inspector cause of the bug :(

[2016-01-26 18:07] taimurnaziri commented on #40
@mshibl Nice! Thanks this solution works great!

[2016-01-27 01:39] rev087 commented on #141
Merged!

[2016-01-27 01:39] #141 closed

[2016-02-04 19:49] brandonjp opened #155 "Highlights cause scrollbars to cause panel to jump around"
On some sites/pages, the highlighting of DOM elements will extend below the viewport causing the scrollbars to be added/removed, which causes the panel to shift location as seen here:

[![https://rideamigos.gyazo.com/08ac30fe261740577bbad8dd32811377](https://t.gyazo.com/teams/rideamigos/08ac30fe261740577bbad8dd32811377.gif)](https://rideamigos.gyazo.com/08ac30fe261740577bbad8dd32811377)

It gets r

[2016-02-10 08:10] swar30 opened #157 "exposing $$watchCount in scope tree"
Hi,

Are there any plans to expose `$$watchersCount` in the scope tree ?
It is really helpful when hunting for components with too many watchers.
I hacked it locally into ng-inspector and it helped me a lot in performance investigations, if no one else is is working on this will be glad to clean it up and create a pull request for it.

[2016-02-11 05:55] JamesHaskell commented on #154
I've personally encountered this problem attempting to access Udemy courses with ng-inspector active in the Chrome browser.

[2016-02-11 23:02] sabbyt opened #158 "ng inspector not working with latest chrome update"
updated to chrome Version 48.0.2564.109 (64-bit) yesterday and now not working.
showing angular app name but tree is populating. app is working normally.

*_in chrome the console error: *_

Uncaught TypeError: Cannot read property '1' of null (ng-inspector.js:745)

NGI.Utils.Utils.annotate    @   chrome-extension://aadgmnobpdmgmigaicncghmmoeflnamj/ng-inspector.js:745
Model.setValue  @   chrome-ext

[2016-02-15 18:30] gaieges commented on #158
Getting the same exception.  In my case seems to be only problematic when I expose lodash to a view, but works fine without this.

[code]

Exception I get is:

[code]

[2016-02-15 21:36] JaKXz opened #159 "ng-inspector tab in browser devtools"
From: https://github.com/rev087/ng-inspector/issues/6#issuecomment-45795354 since I didn't see a separate issue for it, and I think (belatedly) it would be a welcome addition

[2016-02-16 16:03] jarst commented on #154
Confirmed. Chrome 48

[2016-02-24 18:25] ioi0 opened #160 "ng-inspector does not open when working with local files in Chrome"
Nothing happens when I try to fire up the plugin on a local page.

ng-inspector versions used:
 0.5.11
 0.5.10

Chrome versions used:
Version 50.0.2658.0 canary (64-bit)
Version 48.0.2564.116 (64-bit)

[2016-02-28 17:08] MakhouT commented on #160
Same issue here for me. Current workaround, install a npm package http-server and serve the folder of your project by that cli tool. Works perfectly with ng-inspector.

[2016-03-01 17:00] silvestreh commented on #154
There's an extension called [Extension Automation](https://chrome.google.com/webstore/detail/ghopjgdkodchjclkkfdekhjfomdbakkb) that can disable one o more extensions for a given URL. I'm using this to disable ng-inspector when browsing Udemy.

[2016-03-04 10:52] ScottDalessandro commented on #160
Experiencing the same issue.  Thanks for the workaround @MakhouT

[2016-03-04 14:43] partizanos commented on #160
Same hacked around the issue by running
python -m http.server 8000 on the folder of my html file
you can access it through url: localhost:8000/yourHtmlFileName.html

[2016-03-07 11:48] Code-Curious opened #161 "Keyboard navigation"
Some keyboard navigation would be great :
- **Right** and **left** arrows for **expanding** and **collapsing**
- **up**, **down**, **pageUp** and **pageDown** for navigating.

[2016-03-07 15:58] TheSwiftyCoder commented on #161
+1 Keyboard shortcut to open would be handy too.

[2016-03-08 20:18] aktary commented on #159
_PLEASE_ do this.  It's a must for hybrid developers!

[2016-03-25 16:21] dimaShin opened #162 "Error "Argument 'fn' is not a function" trying to invoke component as a directive"
I'm getting error like this in console when use angular.compoent (v.1.5)
ng-inspector: An error occurred attempting to invoke directive: seriesList Error: [ng:areq] Argument 'fn' is not a function, got Object(…)

Of course component defining object is not a function as for directive.
angular.directive(name, function () { return {} });
versus
angular.component(name, { });

[2016-03-27 06:22] zhongyi-tong commented on #85
@rev087 Any progress on that? Cuz it just stuck there when I was inspecting `wx.qq.com`, an extremely large Angular project. The page was not responding at all.

[2016-03-29 20:41] manbearwiz commented on #162
I am also running into this. The error is:

[code]

coming from `dir = app.$injector.invoke(this.factory);` in `Service.js:23`.

The full stack is

[code]

The value of `this.factory`  is

[code]

I'm assuming this just means ng-inspector hasn't been updated to work with [the new angular components syntax](https://docs.angularjs.org/guide/component). I would be willing to work on this but I'm not

[2016-04-18 07:01] azmodii commented on #95
I can confirm this issue as well. I can replicate it by opening ng-inspector when I have a <gmap> directive on the page - see [angular-ui/angular-google-maps](https://github.com/angular-ui/angular-google-maps).

As soon as I comment out the gmap, the issue resolves itself. Feels like it might be an infinite recursion happening when its loading the model context.

Hope this helps

[2016-04-20 13:30] wilsmi commented on #90
Is there somehwere I can find out what the different icons mean?

[2016-05-04 11:40] mischkl commented on #162
+1 same issue here. Actually I'm surprised this issue didn't crop up on GitHub sooner.

[2016-05-06 08:22] manbearwiz commented on #162
I looked at this a little bit and was able to get inspector to recognize components as directives by lifting some [code from the angular source](https://github.com/angular/angular.js/blob/aaa069a65a229b4bccfad37cd588326411387615/src/ng/compile.js#L1112). Not sure if I'm on the right track here but its progress.

https://github.com/manbearwiz/ng-inspector/commit/0fffe6681ddc3007ffd28c511074a5f8cb0a

[2016-05-06 14:48] manbearwiz commented on #162
I worked on this a little bit more and it seems to be pretty functional. No more errors are logged and inspecting controller members works as expected. I would appreciate feed back and some other users trying before I submit a PR.

https://github.com/manbearwiz/ng-inspector/commit/924f78baf520da855a9cac892760d7a9f2d08123

[2016-05-07 21:58] iiitmahesh commented on #102
same problem for me also.can anybody resolve it

[2016-08-02 19:56] fusiongyro commented on #136
FF 48, which came out today, no longer supports the workaround of disabling signature checking. The addon is dead on today's FF and moving forward unless you sign it.

[2016-08-17 08:40] PavloPoliakov commented on #45
in case I add pure google maps API to the page - my inspector is crashed without any errors in the console:
![image](https://cloud.githubusercontent.com/assets/839290/17729972/ea122300-6466-11e6-9352-be34e60ceeef.png)

as soon as I remove the map - it starts to work

[2016-08-18 03:49] giodamelio commented on #159
This would be amazing, since current inspector is part of the pages dom, using the debugger totally freezes ng-inspector.

[2016-08-19 07:45] lackovic commented on #12
This is a very good suggestion! I would personally like it to be sorted by variable type first and the alphabetically, but it would also be good if this would be made configurable.

I see that two years have passed since when it was proposed, has it been addressed already? What's the current plan?

[2016-08-24 16:37] martypdx opened #165 "Component bindings not showing in ng-inspector"
With the new component syntax and "bindings" by default, the data properties no longer appear in ng-inspector (because they are no longer on the $scope, but on the component controller).

Is that something that can be fixed?

[2016-08-24 22:48] chris-infospace opened #166 "Can't open ng-inspector for chrome extension using AngularJS"
Currently running Windows 7, attempting to build a chrome extension in AngularJS. I am unable to use the inspector when I open the "new tab" override chrome page.

[2016-09-08 15:12] covertbert opened #167 "Styles of GUI need !important because they get overridden by my local body styles"

[2016-10-03 15:43] Splaktar commented on #154
I'm seeing this with the Firebase Console as well:

[code]

Removing the extension solves the problem.

[2016-10-06 07:10] AlvaroLarumbe commented on #158
I have Lodash exposed via $rootScope and commit by gztomas fixed the problem.

[2016-10-24 02:11] longzheng opened #168 "ng-inspector breaks Google Analytics navigation bar UI"
With ng-inspector enabled, the new Google Analytics navigation bar UI is broken

![image](https://cloud.githubusercontent.com/assets/484912/19631710/56c8a0fa-99eb-11e6-86e5-329481147069.png)

If ng-inspector is disabled, the UI is fine

![image](https://cloud.githubusercontent.com/assets/484912/19631718/6a3a0bb0-99eb-11e6-90e0-dbf66b4cff78.png)

[2016-10-24 02:16] longzheng commented on #168
With ng-inspector disabled, there are no console/javascript errors

![image](https://cloud.githubusercontent.com/assets/484912/19631766/c31e5808-99eb-11e6-9107-e61b45050521.png)

With ng-inspector enabled, there's a number of errors

![image](https://cloud.githubusercontent.com/assets/484912/19631772/d1d0ec8a-99eb-11e6-9e66-03a797ad5f12.png)

Example of one

[code]

[code]

[2016-10-24 17:41] krocos opened #169 "Сrash on apps where intensive data updating"
![screenshot](https://cloud.githubusercontent.com/assets/4757342/19656538/42ba6812-9a42-11e6-9290-eb56a08cc234.jpg)

[2016-11-07 03:33] qslcna opened #170 "Could I use it to inspect angluar service?"
The tool is awesome! Very usefull to inspect controller and scope.
Some times I want to know some values in serivice. Is there any way to do this :)

[2016-11-10 17:47] jphustman commented on #168
In Analytics Dashboard Click 'Admin' -> click 'View Settings' - click 'Home' -- fails every time.

[2016-11-11 15:35] hindsholm commented on #162
Heh - I finally found this issue after hours of investigating :)
It would be great to have it fixed - @manbearwiz : how can I test the fix?

[2016-11-11 20:26] manbearwiz commented on #162
Either pull down my repo and load it as an unpacked extension or copy this [try-catch block](https://github.com/manbearwiz/ng-inspector/blob/master/src/js/Service.js#L19) over the corresponding block on your installed extension.

[2016-11-15 13:18] hindsholm commented on #162
I tried patching my installed extension at `C:\Users\xxx\ChromeProfile\Default\Extensions\aadgmnobpdmgmigaicncghmmoeflnamj\0.5.10_1\ng-inspector.js` but it didn't change anything so it is probably not the right file. I am not familiar with hacking Chrome extensions, so I am probably doing something wrong.

[2016-11-18 00:10] d2chau commented on #154
I too am seeing the issue that @Splaktar is seeing and I'm on Chrome  54.0.2840.98 on OSX.

[2016-11-28 21:53] jklegseth commented on #154
I have the same issue as @Splaktar and @d2chau with the Firebase Console, Chrome, OSX, Version 54.0.2840.98.

[2016-12-07 20:56] Routhinator commented on #162
Is @rev087 No longer working on this extension? If not it seems like it's time to fork. I just hit this as well.

[2017-01-06 03:36] bsr203 commented on #28
don't use this lib. so closing.

[2017-01-06 03:36] #28 closed

[2017-01-19 08:10] geloolo opened #172 ""This page does not include AngularJS" error dialog popped out when click the "A" button on the toolbar of chrome."
chrome 49.0.2623.112 m
ng-inspector ng-inspector-0.5.8

$ npm -v
4.0.5
$ node -v
v4.4.4

![ng-inpsector](https://cloud.githubusercontent.com/assets/25219211/22098540/c3849d74-de61-11e6-97cd-0fb1c5a5436c.png)

[2017-02-10 10:01] MatejQ commented on #136
It's 2017 and the addon still cannot be used. Any news on this?

[2017-02-10 18:55] cdcooksey commented on #136
@MatejQ I gave up and just don't use it anymore.  It doesn't work with Angular2 anyway, so it's shelf life is limited.

[2017-02-14 18:44] dgreene1 commented on #162
+1   ...it would be nice to at least understand what this error message means.

[2017-02-16 09:56] MatejQ commented on #136
Well, I have used it in Chrome on Angular 2 application but it was sluggish and crashing (maybe because the application was a more complex one). So I thought that maybe Firefox wouldn't have this issue. Anyway, looks like it is dead, that's a shame :(

[2017-02-20 17:23] lolaswift opened #173 "can't use this amazing plugin when debugging ionic apps running on android devices"
On browser is Ok. However, cordova plugin can't run on browser. I need to be able to debug on devices. Any way to make it work?
thx
--lola

[2017-03-01 05:54] suncunhu commented on #136
[augury](https://augury.angular.io/ )  try it

[2017-03-01 21:46] #55 closed

[2017-03-16 18:06] brandonros commented on #161
From what I can tell, this extension is useless. It starts you off at the top level, then you have to navigate down 10k scopes (if your app is large) praying you find the correct one?

Why can't you click to inspect with this bad boy?

[2017-04-05 05:11] chalcrow commented on #40
I've installed ng-inspect v2.7.0 in Chrome Version 56.0.2924.87 (64-bit) (and removed, re-started, re-installed, re-started), however when I click the {A} in chrome with the Developer tools open, I don't see a new pane (whether or not I'm currently debugging). My site is on localhost using https, and the https security isn't correctly configured on the site (but the other Chrome dev tools work fin

[2017-04-05 05:12] chalcrow opened #174 "Inspector pane not opening"
I've installed ng-inspect v2.7.0 in Chrome Version 56.0.2924.87 (64-bit) (and removed, re-started, re-installed, re-started), however when I click the {A} in chrome with the Developer tools open, I don't see a new pane (whether or not I'm currently debugging). My site is on localhost using https, and the https security isn't correctly configured on the site (but the other Chrome dev tools work fin

[2017-04-06 12:24] surnamename commented on #158
I have some problems.. also use lodash.

[2017-04-23 16:02] PocketNinjaDesign commented on #174
Damn I was about to say use the localhost but then read the rest of your comment.  I had the same issue when I was directly clicking my index.html file.  Nothing came up at all!  Then suddenly the blasted tool popped out of the page with the only thing I had changed being pushing my files to a localhost.

Maybe try just a quick hello world directive app to a new simple localhost without https just

[2017-04-27 05:37] johnslipper commented on #158
+1 Same here. Removing lodash does remove the error. Using Chrome (OS X) 57.0.2987, lodash 4.17.4 (via CDN) and angular 1.6.3. Any ideas on a fix?

[2017-05-12 17:15] jdhines commented on #172
With nothing happening on this project for over a year, I'm wondering if it's dead and only meant for Angular 1. React, Ember, and Vue all have great dev tool extensions, very strange that a Google product wouldn't have a terrific Chrome extension.

[2017-07-17 06:24] ZeevKatz commented on #162
+1
Why the error message showing in Chrome console but **not in Safari**?

[2017-10-04 11:31] Kranthi1496 commented on #40
Just restart your browser after adding ng inspector extension @yaniviny

[2017-10-31 15:48] #54 closed

[2017-11-08 07:09] miladjef opened #175 "ng-inspector does not work in Firefox 57 and above"
Please update ng-inspector for last version of Firefox and  firefox developer edition
Thanks

![fv](https://user-images.githubusercontent.com/10581216/32536386-8cdcad22-c473-11e7-8f74-f5303f7b556f.png)

[2017-11-13 13:16] isaackwan commented on #175
Also - since FF77 it's [become mandatory](https://support.mozilla.org/en-US/kb/add-on-signing-in-firefox) to get the addon signed (unless you are on Nightly/Developer edition). It'd be great if we can get a signed version. Cheers

[2017-11-15 13:56] iamcryptoki commented on #175
+1

[2017-11-15 16:02] kpfecteau commented on #175
+1

[2017-11-16 10:43] miladjef commented on #175
+1

[2017-11-17 16:22] andrewatwood commented on #167
+1 for this. Huge pain when you have white/light body text and then you can't read anything.

[2017-12-15 21:16] scottschup commented on #12
+1

[2018-01-08 08:21] marcinpiekarski commented on #162
a have similar issue with ng-inspector for AngularJS plugin in chrome installed. After disabling it the warning is gone :)

this plugin was old (from 2015) so there was no need to have it anymore

[2018-01-30 17:30] miladjef commented on #175
can use "Chrome Store Foxified" add-ons in firefox.

[2018-01-30 17:46] miladjef commented on #175
or use   "Chrome Store Foxified" add-ons and install   AngularJS Batarang

[2018-01-31 00:31] jamesgecko commented on #175
@miladjef This extension doesn't activate when installed with Chrome Store Foxified on Firefox Stable. AngularJS Batarang doesn't even compile in Chrome Store Foxified.

[2018-01-31 11:15] miladjef commented on #175
@jamesgecko
You are right "ng-inspector" doesn't work but AngularJS Bataran have working
**I use firefox developer edition(64bit)

![41111](https://user-images.githubusercontent.com/10581216/35620108-4fa037bc-0695-11e8-8d9a-9edd7cdabbc6.jpg)

[2018-03-21 11:43] facundofarias commented on #175
Hello, any news in this regard?
Thanks

[2018-04-13 09:44] miladjef commented on #175
Unfortunately still not released an update for the addons

[2018-04-26 05:53] shrutivirani opened #176 "while run jasmine test using karma "karma start --single-run""
i am facing this error while run jasmine test
 Error: [$injector:modulerr] Failed to instantiate module undefined due to:
        Error: [ng:areq] Argument 'fn' is not a function, got undefined
           at bower_components/angular/angular.js:125:12
            at bower_components/angular/angular.js:5034:15
            at forEach (bower_components/angular/angular.js:418:20)
            at loadMod

[2018-05-19 05:20] miladjef commented on #175
hello

augury Released for firefox
that add-ons support angular 2+(2 and 4 and 5 and 6).

https://addons.mozilla.org/en-US/firefox/addon/angular-augury/

[2018-12-10 16:07] D1nker commented on #175
+1

[2021-11-29 17:32] mochsner commented on #158
@johnslipper ever figure this issue out by chance? Running into same issue without lodash (not that I should expect this plugin to still be stable at this point)

[2021-11-29 18:01] mochsner commented on #158
Seems to me this could be related to use of arrow expressions in JS and lack of support for them?

someVar: (arg1) => {
 // do something
}

Fails due to ArgDecl coming back as null:
![image](https://user-images.githubusercontent.com/19310711/143919436-3a5d66fb-694e-4e2c-b4dd-0b5179358db2.png)

Forked this on my personal repo and may look to add this in for my local use. If anyone else still uses t

[2021-11-30 01:12] johnslipper commented on #158
@mochsner no I didn't, I ended up using other Chrome extensions. The one I'm currently using is [ng-inspect for AngularJS](https://chrome.google.com/webstore/detail/ng-inspect-for-angularjs/cidepfmbgngpdapgncfhpecbdhmnnemf/related) which instead shows the scope of the currently selected element inside the developer tools, within an "AngularJS" tab.

[2022-03-10 11:36] #168 closed, assigned to nobody

[2022-06-29 20:41] mochsner opened #177 "Redacted from chrome plugin store -- past few weeks (June ~20th, 2022)"
Looks like this was redacted from the Chrome store. Any way to get this added back in?

Current message is "This extension violates the Chrome Web Store policy"